/* Utility */
* {
  margin: 0;
  padding: 0;
}

strong, b {
  font-weight: bold;
  color: #000;
}

html,body {
  height: 100%;
  font-family: Helvetica,Arial,"Microsoft Yahei",sans-serif;
  font-size: 16px;
  font-weight: 300;
  color:#333;
  line-height: 1.5;
  background: rgb(180, 210, 250);
}

header, section, footer, aside, nav, main, article, figure {
    display: block;
} 

h1,h2,h3,h4,h5,h6 {
  font-size: 100%;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: rgb(80, 120, 160);
}

a:hover {
  text-decoration: underline;
  color: rgb(0, 0, 0);
}

.wrapper:before,.wrapper:after {
  display: table;
  content: '';
}

.wraper:after {
  clear: both;
}

.wrapper {
  zoom: 1;
  max-width: 640px;
  margin: 80px auto;
  padding: 0 100px;
  background-color: rgb(251, 251, 251);
}

nav {
  font: inherit;
  font-size: 100%;
  display: block;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
}

.navigation {
  position: fixed;
  z-index: 1000;
  top: 20px;
  right: 20px;
}

.navigation .avatar {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: .4s ease all;
  -moz-transition: .4s ease all;
  -o-transition: .4s ease all;
  transition: .4s ease all;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.navigation .avatar:hover {
  cursor: pointer;
}

.navigation .navigation-list {
  font-size: .75em;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  width: 160px;
  -webkit-transition: .25s ease -webkit-transform;
  -moz-transition: .25s ease -webkit-transform;
  -o-transition: .25s ease -webkit-transform;
  transition: .25s ease -webkit-transform;
  -webkit-transform-origin: 140px 20px;
  -moz-transform-origin: 140px 20px;
  -ms-transform-origin: 140px 20px;
  -o-transform-origin: 140px 20px;
  transform-origin: 140px 20px;
  text-indent: 0;
  color: rgb(100, 100, 100);
  background: rgb(10, 10, 10);
  -moz-border-radius: 2px 20px 2px 2px;
  -webkit-border-radius: 2px 20px 2px 2px;
  -ms-border-radius: 2px 20px 2px 2px;
  -o-border-radius: 2px 20px 2px 2px;
  border-radius: 2px 20px 2px 2px;
}

@media screen and (max-width: 34em) {
  .navigation .navigation-list {
    font-size: .85em;
  };
}

.navigation .navigation-list li{
  display: inline;
  height: 30px;
}

.navigation .navigation-list li:first-child a {
  color: white;
}

.navigation .navigation-list li:last-child {
  background: rgb(30, 30, 30);
}

.navigation .navigation-list .navigation-item {
  line-height: 30px;
  display: block;
  overflow: hidden;
  height: 30px;
  padding: .075em 1em 0;
  -webkit-transition: .35s ease all;
  -moz-transition: .35s ease all;
  -o-transition: .35s ease all;
  transition: .35s ease all;
  vertical-align: middle;
}

.navigation .navigation-list .navigation-item:before {
  font-size: 1em;
  margin-right: .5em;
  -webkit-transition: .25s ease -webkit-transform;
  -moz-transition: .25s ease -webkit-transform;
  -o-transition: .25s ease -webkit-transform;
  transition: .25s ease -webkit-transform;
}

.navigation .navigation-list .navigation-item:hover {
  text-decoration: none;
  color: white;
}

.navigation .navigation-list .navigation-item:hover:before {
  -webkit-transform: scale(1.15) rotate(360deg);
  -moz-transform: scale(1.15) rotate(360deg);
  -ms-transform: scale(1.15) rotate(360deg);
  -o-transform: scale(1.15) rotate(360deg);
  transform: scale(1.15) rotate(360deg);
  text-decoration: none;
}

.navigation.hide .navigation-list {
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
}

.navigation.hide .navigation-list li:first-child .navigation-item {
  -webkit-transform: translateX(150px);
  -moz-transform: translateX(150px);
  -ms-transform: translateX(150px);
  -o-transform: translateX(150px);
  transform: translateX(150px);
}

.navigation.hide .navigation-list li:nth-child(2) .navigation-item {
  -webkit-transform: translateX(200px);
  -moz-transform: translateX(200px);
  -ms-transform: translateX(200px);
  -o-transform: translateX(200px);
  transform: translateX(200px);
}

.navigation.hide .navigation-list li:nth-child(3) .navigation-item {
  -webkit-transform: translateX(250px);
  -moz-transform: translateX(250px);
  -ms-transform: translateX(250px);
  -o-transform: translateX(250px);
  transform: translateX(250px);
}

.navigation.hide .navigation-list li:nth-child(4) .navigation-item {
  -webkit-transform: translateX(300px);
  -moz-transform: translateX(300px);
  -ms-transform: translateX(300px);
  -o-transform: translateX(300px);
  transform: translateX(300px);
}

.navigation.hide .navigation-list li:nth-child(5) .navigation-item {
  -webkit-transform: translateX(350px);
  -moz-transform: translateX(350px);
  -ms-transform: translateX(350px);
  -o-transform: translateX(350px);
  transform: translateX(350px);
}

.navigation.hide .navigation-list li:nth-child(6) .navigation-item {
  -webkit-transform: translateX(400px);
  -moz-transform: translateX(400px);
  -ms-transform: translateX(400px);
  -o-transform: translateX(400px);
  transform: translateX(400px);
}

.navigation.show .navigation-list {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}

.navigation.show .avatar {
  -webkit-transform: rotate(-360deg);
  -moz-transform: rotate(-360deg);
  -ms-transform: rotate(-360deg);
  -o-transform: rotate(-360deg);
  transform: rotate(-360deg);
}

.no-csstransforms .navigation.hide .navigation-list {
  display: none;
}

.no-csstransforms .navigation.show .navigation-list {
  display: block;
}
/* Site header */

.site-header {
  min-height: 60px;
  margin: 50px 30px 0;
}

.site-header h1 {
  font-size: 2em;
  font-weight: 600;
  text-align: center;
}
/* Site footer */

.site-footer {
  font-size: 12px;
  margin: 20px 0 50px;
  text-align: center;
  color: rgb(100, 100, 100);
}
/* Home styles */

.home h1 {
  margin-bottom: 25px;
}

.home h2 {
  height: 30px;
  text-align: center;
}

.posts {
  margin: 20px 0;
  list-style-type: none;
}

.posts li {
  margin-bottom: 30px;
}

.posts .post-link {
  font-size: 18px;
  line-height: 1;
  letter-spacing: -1px;
}

.posts .post-date {
  font-size: 14px;
  display: block;
  color: rgb(120, 120, 120);
}

/* Pagination styles */
.pagination {
  font-size: 12px;
  height: 20px;
}

.pagination .number {
  display: none;
  float: right;
  width: 40%;
  text-align: center;
}

.pagination .newer {
  float: right;
  width: 30%;
  text-align: right;
}

.pagination .older {
  float: left;
  width: 30%;
}
/* Post styles */

 .page-content time {
  display: block;
  width: 100%;
  height: 30px;
  text-align: center;
}

.post-content {
  position: relative;
  margin: 0 0 50px;
  text-align: justify;
}

.post-content > * {
  margin: 20px 0;
}

.post-content h1,.post-content h2,.post-content h3,.post-content h4,.post-content h5,.post-content h6 {
  font-weight: 300;
  line-height: 1;
  margin: 40px 0 20px;
}

.post-content h2 {
  font-size: 25px;
  letter-spacing: -1.25px;
}

.post-content h3 {
  font-size: 22px;
  letter-spacing: -1px;
}

.post-content h4 {
  font-size: 18px;
  letter-spacing: -1px;
}

.post-content blockquote {
  font-size: 16px;
  font-style: italic;
  margin: 30px 0;
  padding-left: 20px;
  opacity: .6;
  border-left: 4px solid rgb(128, 128, 128);
}

.post-content ul,
.post-content ol {
  padding-left: 20px;
}
.post-content table {
  border-collapse: collapse;
  border-spacing: 0;
  width:100%;
}
.post-content th {
  font-size: 14px;
  font-weight: normal;
  color: #000;
  border-bottom: 2px solid #B4D2FA;
  padding: 10px 8px;
}
.post-content td {
  border-bottom: 1px solid #CCC;
  color: #333;
  padding: 6px 8px;
}


.post-content img {
  display: block;
  width:100%;
}
figure {
  margin: 0;
  position: relative;
  overflow: hidden;
}
figure img {
  position: relative;
}
figcaption {
  position: absolute;
  top:0 ;
  background:#333;
  height: 18px;
  line-height:18px;
  padding-left:3px;
  color:#fff;
  font-family:serif;
  font-size:12px;
  width: 100%;
  overflow:hidden;
}
figure:hover figcaption {
  opacity: 0.8;
  -moz-transition: transform .8s, opacity .8s;
  -webkit-transition: transform .8s, opacity .8s;
  -o-transition: transform .8s, opacity .8s;
  transition: transform .8s, opacity .8s;
}

iframe {
  border:none;
}
.post-content pre,
.post-content code {
  font-size: 14px;
  font-family: Consolas;
  overflow: auto;
  padding: 8px 12px;
  border: 1px solid rgb(213, 213, 233);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background:#efefef;
}

.post-content code {
  padding: 1px 5px;
}

.post-content ul,
.post-content ol {
  margin-left: 1.35em;
}

.post-content pre code {
  padding-right: 0;
  padding-left: 0;
  border: 0;
}
/* terminal */

.post-content pre.terminal {
  color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.post-content pre.terminal code {
  background-color: rgb(50, 50, 50);
}

.post-content #qrcode {
  position: absolute;
  right: 0;
  bottom: -30px;
  margin: 0;
}

.comment{
  text-align: center;
}
.comment .comment-toggle{
  background-color: #eee;
  border: none;
  border-radius: 0;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  height: 40px;
  padding: 0 40px;
  margin: 5px;
  display: inline-block;
  appearance: none;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
}

/* media queries */

@media screen and (max-width: 842px) {
  .wrapper {
    max-width: 720px;
    margin: 60px auto;
    padding: 0 80px;
  };
}

@media screen and (max-width: 640px) {
  body {
    background: rgb(180, 210, 250);
  }

  .wrapper {
    max-width: 560px;
    margin: 0;
    padding: 0 20px;
  }

  .site-header h1 {
    font-size: 1.5em;
  }

  .post-content h1 {
    font-size: 25px;
  }

  .post-content h2 {
    font-size: 22px;
  }

  .post-content h3 {
    font-size: 18px;
  }

  .post-content h4 {
    font-size: 16px;
  }

  .post-content blockquote {
    padding-left: 10px;
  }

  .post-content ul,.post-content ol {
    padding-left: 10px;
  };
}

@media screen and (max-width: 360px) {
  body {
    background: rgb(180, 210, 250);
  }

  .wrapper {
    max-width: 320px;
    padding: 0 10px;
  }

  .site-header h1 {
    font-size: 1.3em;
  }

  .post-content h1 {
    font-size: 22px;
  }

  .post-content h2 {
    font-size: 20px;
  }

  .post-content h3 {
    font-size: 18px;
  }

  .post-content h4 {
    font-size: 16px;
  }

  .post-content blockquote {
    padding-left: 10px;
  }

  .post-content ul,.post-content ol {
    padding-left: 10px;
  };
}

