/* Fonts */
@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 400;
  src: local('RobotoDraft'), local('RobotoDraft-Regular'), local('Roboto-Regular'), url(../font/RobotoDraftRegular.woff2) format('woff2'), url(../font/RobotoDraftRegular.woff) format('woff');
}
@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 500;
  src: local('RobotoDraft Medium'), local('RobotoDraft-Medium'), local('Roboto-Medium'), url(../font/RobotoDraftMedium.woff2) format('woff2'), url(../font/RobotoDraftMedium.woff) format('woff');
}
@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 700;
  src: local('RobotoDraft Bold'), local('RobotoDraft-Bold'), local('Roboto-Bold'), url(../font/RobotoDraftBold.woff2) format('woff2'), url(../font/RobotoDraftBold.woff) format('woff');
}
@font-face {
  font-family: 'RobotoDraft';
  font-style: italic;
  font-weight: 400;
  src: local('RobotoDraft Italic'), local('RobotoDraft-Italic'), local('Roboto-Italic'), url(../font/RobotoDraftItalic.woff2) format('woff2'), url(../font/RobotoDraftItalic.woff) format('woff');
}
@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?54027858');
  src: url('../font/fontello.eot?54027858#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?54027858') format('woff'),
       url('../font/fontello.ttf?54027858') format('truetype'),
       url('../font/fontello.svg?54027858#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before { content: '\e800'; } /* '' */
.icon-th-large:before { content: '\e801'; } /* '' */
.icon-info-circled:before { content: '\e802'; } /* '' */
.icon-help-circled:before { content: '\e803'; } /* '' */
.icon-info:before { content: '\e804'; } /* '' */
.icon-home:before { content: '\e805'; } /* '' */
.icon-link:before { content: '\e806'; } /* '' */
.icon-link-ext:before { content: '\e807'; } /* '' */
.icon-eye:before { content: '\e808'; } /* '' */
.icon-tag:before { content: '\e809'; } /* '' */
.icon-tags:before { content: '\e80a'; } /* '' */
.icon-forward:before { content: '\e80b'; } /* '' */
.icon-code:before { content: '\e80c'; } /* '' */
.icon-share:before { content: '\e80d'; } /* '' */
.icon-share-squared:before { content: '\e80e'; } /* '' */
.icon-comment-empty:before { content: '\e80f'; } /* '' */
.icon-chat:before { content: '\e810'; } /* '' */
.icon-comment:before { content: '\e811'; } /* '' */
.icon-chat-empty:before { content: '\e812'; } /* '' */
.icon-doc:before { content: '\e813'; } /* '' */
.icon-doc-inv:before { content: '\e814'; } /* '' */
.icon-doc-text-inv:before { content: '\e815'; } /* '' */
.icon-doc-text:before { content: '\e816'; } /* '' */
.icon-docs:before { content: '\e817'; } /* '' */
.icon-box:before { content: '\e818'; } /* '' */
.icon-folder:before { content: '\e819'; } /* '' */
.icon-folder-open:before { content: '\e81a'; } /* '' */
.icon-folder-open-empty:before { content: '\e81b'; } /* '' */
.icon-folder-empty:before { content: '\e81c'; } /* '' */
.icon-menu:before { content: '\e81d'; } /* '' */
.icon-down-open:before { content: '\e81e'; } /* '' */
.icon-down-big:before { content: '\e81f'; } /* '' */
.icon-left-big:before { content: '\e820'; } /* '' */
.icon-right-big:before { content: '\e821'; } /* '' */
.icon-up-big:before { content: '\e822'; } /* '' */
.icon-up-open:before { content: '\e823'; } /* '' */
.icon-left-open:before { content: '\e824'; } /* '' */
.icon-github:before { content: '\e825'; } /* '' */
.icon-github-squared:before { content: '\e826'; } /* '' */
.icon-github-circled:before { content: '\e827'; } /* '' */
.icon-wechat:before { content: '\e828'; } /* '' */
.icon-weibo:before { content: '\e829'; } /* '' */

/* Utility */

* {
  margin: 0;
  padding: 0;
}

strong, b {
  font-weight: bold;
  color: rgb(0, 0, 0);
}

body {
  height: 100%;
  font-family: "RobotoDraft", "Roboto", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: rgb(34, 34, 34);
  line-height: 1.7;
  background: rgb(150, 215, 245);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header, section, footer, aside, nav, main, article, figure, small {
  display: block;
} 

acronym, abbr {
  text-decoration: none;
  font-variant: normal;
  border: none;
}

abbr {
  cursor: help;
}

a {
  text-decoration: none;
  color: rgb(34, 34, 34);
  outline: none;
  border-bottom: 1px dashed rgb(150, 215, 245);
}

a:hover {
  color: rgb(34, 34, 34);
  position: relative;
}

.wrapper a:hover {
  background-color: rgb(233, 233, 233);
}

.wrapper:before {
  content: "";
  position: absolute;
  z-index: -1;
  transform: skew(3deg, 2deg);
  box-shadow: 0px 15px 5px rgba(0, 0, 0, 0.2);
  height: 60px;
  bottom: 15px;
  right: 0;
  max-width: 50%;
  width: 50%;
}

.wrapper:before, .wrapper:after {
  display: table;
  content: '';
}

.wrapper:after {
  clear: both;
}

.wrapper {
  position: relative;
  zoom: 1;
  width: 640px;
  \width: 640px;
  padding: 0 70px;
  margin: 30px auto;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(240, 240, 240);
}



/* Search */
.search {
  position: fixed;
  z-index: 999;
  top: 1%;
  left: 1%;
  font-size: 20px;
  color: rgb(252, 251, 247);
}

/* Navigation */

nav {
  font: inherit;
  display: block;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
}

.navigation {
  position: fixed;
  z-index: 999;
  top: 1%;
  right: 1%;
}

.navigation .menu {
  position: absolute;
  top: 0; 
  right: 0;
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  color: rgb(252, 251, 247);
}

.navigation .menu:hover {
  cursor: pointer;
}

.navigation .navigation-list {
  font-size: 15px;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  width: 140px;
  text-indent: 0;
  color: rgb(100, 100, 100);
  background: rgb(35, 35, 35);
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.navigation .navigation-list li {
  display: inline;
}

.navigation .navigation-list li a.active{
  color: rgb(255, 255, 255);
  font-weight: 500;
}

.navigation .navigation-list .navigation-item {
  line-height: 30px;
  color: rgb(160, 160, 160);
  display: block;
  overflow: hidden;
  height: 30px;
  padding: 0 10px;
  border-bottom: 1px solid rgb(50, 50, 50);
  margin: 0 10px;
  vertical-align: middle;
}

.navigation .navigation-list .navigation-item:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.navigation.hide .navigation-list {
  display: none;
}

.navigation.show .navigation-list {
  display: block;
}

/* Site header */

.site-header {
  min-height: 30px;
  padding-top: 30px;
}

.site-header h1 {
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}

/* Site footer */

.site-footer {
  padding: 10px 0 40px;
  text-align: center;
  color: rgb(150, 150, 150);
}

/* Go to top */

#gototop {
  width: 30px;
  height: 30px;
  background: rgb(235, 235, 235);
  position: fixed;
  bottom: 1%;
  right: 1%;
  text-align: center;
  line-height: 2;
  font-size: 15px;
  opacity: .8;
  border-radius: 5px;
}

/* Home styles */

.articles ul {
  border-top: 1px solid rgb(240, 240, 240);
  margin: 10px 0 20px;
  padding: 0;
  list-style-type: none;
}

.articles ul li {
  padding: 10px;
  border-bottom: 1px solid rgb(240, 240, 240);
}

.articles ul li>* {
  display: inline-block;
}

.articles ul .thumbnail {
  float: left;
  width: 48px;
  height: 48px;
  overflow: hidden;
  border-radius: 4px;
}

.articles ul .post-infos {
  margin: 0 10px;
}

.articles ul .post-title {
  height: 24px;
  line-height: 24px;
  font-weight: normal;
  font-size: 15px;
}

.articles ul .post-title a{
  border: none;
  color: rgb(50, 150, 250);
}

.articles ul .post-title a:hover{
  border-bottom: 1px dashed rgb(50, 150, 245);
  background: none;
}

.articles ul .post-date {
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  word-spacing: -1px;
  color: rgb(150, 150, 150);
}

.articles ul .comment-count {
  float: right;
  width: 48px;
  height: 48px;
}

.articles ul .comment-count .disqus-comment-count {
  display: inline-block;
  width: 16px;
  margin: 15px auto;
  padding: 0 8px;
  text-decoration: none;
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  border-radius: 10px;
  border: none;
}

.articles ul .comment-count .disqus-comment-count:link {
  background: rgb(150, 215, 245);
}

.articles ul .comment-count .disqus-comment-count:visited {
  background: rgb(180, 225, 245);
}

.articles ul .comment-count .disqus-comment-count:hover {
  background: rgb(50, 160, 215);
}

/* Pagination styles */

.pagination a {
  border: none;
}

.pagination ul {
  margin: 10px 0;
  font-size: 13px;
  line-height: 1;
  height: 15px;
  list-style-type: none;
  overflow: hidden;
  padding: 0 5px;
}

.pagination ul li {
  display: inline-block;
}

.pagination ul .number {
  color: rgb(251, 251, 251);
  width: 40%;
  text-align: center;
}

.pagination ul .newer {
  width: 30%;
  float: right;
  text-align: right;
}

.pagination ul .older {
  width: 30%;
  float: left;
  text-align: left;
}

/* Post styles */

.site-header .sub-heading {
  display: block;
  color: rgb(150, 150, 150);
  font-size: 13px;
  font-weight: 300;
  width: 100%;
  height: 30px;
  text-align: center;
}

.post-content {
  position: relative;
}

.post-content .hide {
  display: none;
}

.post-content .source {
  display: block;
  font-family: Consolas;
  font-size: 12px;
  border: 1px solid rgb(194, 196, 197);
  width: 100%;
  height: 384px;
}

.post-content>*, .main-content>*, .posts>* {
  margin: 18px 0;
}

.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
  font-weight: 500;
  line-height: 1;
  margin: 25px 0 12px;
}

.post-content h2 {
  font-size: 16px;
  border-left: 4px solid rgb(80, 160, 240);
  padding-left: 8px;
}

.post-content h3 {
  font-size: 15px;
  border-left: 4px solid rgb(80, 160, 240);
  padding-left: 7px;
}

.post-content h4 {
  font-size: 14px;
  border-left: 4px solid rgb(80, 160, 240);
  padding-left: 6px;
}

.post-content #toc:before {
  display: block;
  content: "目录";
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  color: rgb(245, 245, 245);
  line-height: 30px;
  height: 30px;
  background: rgb(150, 150, 150);
  text-align: center;
}

.post-content #toc {
  float: right;
  min-width: 180px;
  margin: 10px 20px 0;
  background: rgb(233, 233, 233);
  list-style: none;
  padding: 5px 0 0;
}

.post-content #toc a{
  display: inline-block;
  width: 100%;
  color: rgb(100, 100, 100);
  font-size: 14px;
  text-decoration: none;
  border: none;
}

.post-content #toc a:hover{
  background: none;
}

.post-content #toc li{
  padding: 0 10px;
  line-height: 30px;
}

.post-content #toc li:hover {
  background: rgb(245, 245, 245);
}

.post-content #toc ul {
  padding: 0;
  list-style: none;
}

.post-content #toc li ul li{
  padding: 0;
  line-height: 20px;
}

.post-content #toc li ul li a{
  font-size: 12px;
}

.post-content blockquote {
  font-size: 13px;
  font-style: italic;
  margin: 30px 0;
  padding-left: 20px;
  opacity: .6;
  border-left: 5px solid rgb(128, 128, 128);
}

.post-content ul, .post-content ol {
  padding-left: 20px;
}

.post-content table {
  font-size: 13px;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.post-content th {
  font-weight: bold;
  padding: 10px 9px;
  color: rgb(51, 51, 51);
  border: 1px solid rgb(194, 196, 197);
  background: rgb(228, 230, 232);
}

.post-content td {
  padding: 7px 8px;
  color: rgb(79, 51, 51);
  border: 1px solid rgb(194, 196, 197);
  background: rgb(249, 249, 249);
}

.post-content img {
  display: block;
  max-width: 100%;
  width: auto;
  width: auto\9;
}

figure, .figure {
  max-width: 640px;
  margin: 0;
  position: relative;
  overflow: hidden;
}

figure img, .figure img {
  position: relative;
}

figcaption, .figcaption {
  position: absolute;
  top: 0 ;
  background: rgb(51, 51, 51);
  height: 25px;
  line-height: 25px;
  padding-left: 3px;
  color: rgb(255, 255, 255);
  font-size: 13px;
  width: 100%;
  overflow: hidden;
}

figure:hover figcaption, .figure:hover .figcaption {
  opacity: .8;
}

iframe {
  border: none;
  width: 100%;
}

.post-content pre, .post-content code {
  font-size: 13px;
  font-family: Consolas;
  background-color: rgb(233, 233, 233);
  overflow: auto;
  word-wrap: break-word;
  white-space: pre-wrap; 
  white-space: -moz-pre-wrap; 
  white-space: -pre-wrap; 
  white-space: -o-pre-wrap; 
  border-radius: 3px;
}

.post-content code {
  padding: 1px 5px;
}

.post-content ul, .post-content ol, .posts ul{
  margin-left: 15px;
}

.post-content pre code {
  display: inline;
  max-width: initial;
  line-height: inherit;
  padding: 0;
  margin: 0;
  border: 0;
}

/* terminal */

.post-content pre.terminal {
  color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 3px;
}

.post-content pre.terminal code {
  background-color: rgb(50, 50, 50);
}

.post-content .posts {
  width: 50%;
  float: left;
}

.post-content .posts a{
  border: none;
}

.post-content #info {
  clear: both;
}

.post-content #info a{
  border: none;
}

.ie .view-code {
  display: none;
}

.post-content #share {
  font-size: 20px;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
}

.post-content #share a {
  color: rgb(51, 51, 51);
  border: none;
}

.post-content #share a:hover {
  background: none;
}

.post-content #share a#wechat:hover, .post-content #share a#wechat.light {
  color: rgb(81, 195, 50);
}

.post-content #share a#weibo:hover {
  color: rgb(231, 44, 64);
}

.post-content #share #qrcode {
  width: 70px;
  height: 70px;
  position: absolute;
  right: 0;
  bottom: 30px;
  background: rgb(255, 255, 255);
  padding: 5px;
  border: 1px solid rgb(245, 245, 245);
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgb(150, 150, 150);
}

.comment {
  text-align: center;
  margin: 5px 0;
}

.comment .show-comments {
  background-color: rgb(245, 245, 245);
  color: rgb(150, 150, 150);
  font-family: "RobotoDraft", "Roboto", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 15px;
  text-align: center;
  line-height: 36px;
  padding: 0 10px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid rgb(245, 245, 245);
}

.comment .show-comments:hover {
  border: 1px solid rgb(200, 200, 200);
}

#disqus_thread {
  font-family: sans-serif;
  word-wrap: break-word;
  white-space: pre-wrap; 
  white-space: -moz-pre-wrap; 
  white-space: -pre-wrap; 
  white-space: -o-pre-wrap; 
}

/* highlight */
/*
 * GitHub style for Pygments syntax highlighter, for use with Jekyll
 * Courtesy of GitHub.com
 */

.highlight pre, pre, .highlight .hll { padding: 6px 8px; border-radius: 3px; }
.highlight .c { color: #999988; font-style: italic; }
.highlight .err { color: #a61717; background-color: #e3d2d2; }
.highlight .k { font-weight: bold; }
.highlight .o { font-weight: bold; }
.highlight .cm { color: #999988; font-style: italic; }
.highlight .cp { color: #999999; font-weight: bold; }
.highlight .c1 { color: #999988; font-style: italic; }
.highlight .cs { color: #999999; font-weight: bold; font-style: italic; }
.highlight .gd { color: #000000; background-color: #ffdddd; }
.highlight .gd .x { color: #000000; background-color: #ffaaaa; }
.highlight .ge { font-style: italic; }
.highlight .gr { color: #aa0000; }
.highlight .gh { color: #999999; }
.highlight .gi { color: #000000; background-color: #ddffdd; }
.highlight .gi .x { color: #000000; background-color: #aaffaa;}
.highlight .go { color: #888888; }
.highlight .gp { color: #555555; }
.highlight .gs { font-weight: bold; }
.highlight .gu { color: #800080; font-weight: bold; }
.highlight .gt { color: #aa0000; }
.highlight .kc { font-weight: bold; }
.highlight .kd { font-weight: bold; }
.highlight .kn { font-weight: bold; }
.highlight .kp { font-weight: bold; }
.highlight .kr { font-weight: bold; }
.highlight .kt { color: #445588; font-weight: bold; }
.highlight .m { color: #009999; }
.highlight .s { color: #dd1144; }
.highlight .n { color: #333333; }
.highlight .na { color: teal; }
.highlight .nb { color: #0086b3; }
.highlight .nc { color: #445588; font-weight: bold; }
.highlight .no { color: teal; }
.highlight .ni { color: purple; }
.highlight .ne { color: #990000; font-weight: bold; }
.highlight .nf { color: #990000; font-weight: bold; }
.highlight .nn { color: #555555; }
.highlight .nt { color: navy; }
.highlight .nv { color: teal; }
.highlight .ow { font-weight: bold; }
.highlight .w { color: #bbbbbb; }
.highlight .mf { color: #009999; }
.highlight .mh { color: #009999; }
.highlight .mi { color: #009999; }
.highlight .mo { color: #009999; }
.highlight .sb { color: #dd1144; }
.highlight .sc { color: #dd1144; }
.highlight .sd { color: #dd1144; }
.highlight .s2 { color: #dd1144; }
.highlight .se { color: #dd1144; }
.highlight .sh { color: #dd1144; }
.highlight .si { color: #dd1144; }
.highlight .sx { color: #dd1144; }
.highlight .sr { color: #009926; }
.highlight .s1 { color: #dd1144; }
.highlight .ss { color: #990073; }
.highlight .bp { color: #999999; }
.highlight .vc { color: teal; }
.highlight .vg { color: teal; }
.highlight .vi { color: teal; }
.highlight .il { color: #009999; }
.highlight .gc { color: #999999; background-color: #eaf2f5; }

/* media queries */

@media screen and (max-width: 852px) {
  body {
    background-color: rgb(255, 255, 255);
  }
  .navigation .menu {
    color: rgb(100, 100, 100);
  }
  .wrapper {
    margin: 0 auto;
    border: 0;
    border: none;
    padding: 0;
    width: 100%;
  }
  .wrapper:before {
    display: none;
  }
  .post-content {
    max-width: 640px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 700px) {
  .navigation .menu, .navigation .navigation-list .navigation-item {
    line-height: 40px;
    height: 40px;
    font-size: 20px;
  }
  .navigation .navigation-list {
    width: 160px;
  }
  .wrapper {
    max-width: 640px;
    width: 100%;
  }
  .articles ul li {
    height: 40px;
    padding: 5px;
  }
  .articles ul .thumbnail {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 3px;
  }
  .articles ul .post-infos {
    margin: 0 5px;
  }
  .articles ul .post-title {
    height: 20px;
    line-height: 20px;
    font-weight: normal;
    font-size: 16px;
  }
  .articles ul .post-date {
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    word-spacing: -2px;
    color: rgb(150, 150, 150);
  }
  .post-content #toc, .post-content #share, .post-content .view-code {
    display: none;
  }
  #gototop {
    opacity: .6;
  }
  .post-content .posts {
    width: auto;
    float: none;
  }
}

@media screen and (max-width: 414px) {
  .site-header h1{
    font-size: 20px;
  }
  body, .site-header .sub-heading {
    font-size: 15px;
  }
  .wrapper {
    width: 100%;
    max-width: 100%;
    padding: 0;
  }
  ul, .post-content p {
    padding: 0 2%;
  }
  .post-content pre, .post-content code {
     border-radius: 0;
  }
  .post-content p.image {
    padding: 0;
  }
  #disqus_thread {
    padding: 8px;
  }
}
