/* Utility */

* {
  margin: 0;
  padding: 0;
}

strong, b {
  font-weight: bold;
  color: rgb(0, 0, 0);
}

body {
  height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: rgb(51, 51, 51);
  line-height: 1.5;
  background: rgb(80, 160, 240);
}

header, section, footer, aside, nav, main, article, figure, small {
  display: block;
} 

a {
  text-decoration: none;
  color: rgb(80, 130, 190);
}

a:hover {
  text-decoration: underline;
  color: rgb(51, 51, 51);
}

.wrapper a:hover {
  text-decoration: underline;
  color: rgb(7, 108, 210);
}

.wrapper:before, .wrapper:after {
  display: table;
  content: '';
}

.wraper:after {
  clear: both;
}

.wrapper {
  position: relative;
  zoom: 1;
  width: 640px;
  \width: 640px;
  padding: 0 70px;
  margin: 30px auto;
  background-color: rgb(252, 251, 247);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

/* Navigation */

nav {
  font: inherit;
  display: block;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
}

.navigation {
  position: fixed;
  z-index: 999;
  top: 1%;
  right: 1%;
}

.navigation .menu {
  position: absolute;
  top: 0; 
  right: 0;
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  color: rgb(252, 251, 247);
}

.navigation .menu:hover {
  cursor: pointer;
}

.navigation .navigation-list {
  font-size: 15px;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  width: 140px;
  text-indent: 0;
  color: rgb(100, 100, 100);
  background: rgb(35, 35, 35);
  -moz-border-radius: 2px;
       border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.navigation .navigation-list li {
  display: inline;
}

.navigation .navigation-list li a.active{
  color: rgb(255, 255, 255);
  font-weight: 500;
}

.navigation .navigation-list .navigation-item {
  line-height: 30px;
  color: rgb(160, 160, 160);
  display: block;
  overflow: hidden;
  height: 30px;
  padding: 0 10px;
  border-bottom: 1px solid rgb(50, 50, 50);
  margin: 0 10px;
  vertical-align: middle;
}

.navigation .navigation-list .navigation-item:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.navigation.hide .navigation-list {
  display: none;
}

.navigation.show .navigation-list {
  display: block;
}

/* Site header */

.site-header {
  min-height: 30px;
  margin-top: 40px;
}

.site-header h1 {
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}

/* Site footer */

.site-footer {
  padding: 10px 0 40px;
  text-align: center;
  color: rgb(150, 150, 150);
}

/* Go to top */

#gototop {
  width: 30px;
  height: 30px;
  background: rgb(235, 235, 235);
  position: fixed;
  bottom: 1%;
  right: 1%;
  text-align: center;
  line-height: 2;
  font-size: 15px;
  opacity: .8;
  -moz-border-radius: 5px;
       border-radius: 5px;
  behavior: url(css/PIE.htc);
}

/* Home styles */

.articles ul {
  margin: 20px 0;
  list-style-type: none;
}

.articles ul li {
  margin-bottom: 30px;
}

.articles ul .post-link {
  font-size: 16px;
  line-height: 1.3;
}

.articles ul .post-date {
  display: block;
  font-size: 14px;
  font-style: italic;
  color: rgb(150, 150, 150);
}

/* Pagination styles */

.pagination ul, .article-nav ul {
  margin: 10px 0;
  font-size: 13px;
  line-height: 1;
  height: 15px;
  list-style-type: none;
  overflow: hidden;
}

.pagination ul li, .article-nav ul li {
  display: inline-block;
}

.pagination ul .number {
  color: rgb(251, 251, 251);
  width: 40%;
  text-align: center;
}

.pagination ul .newer {
  width: 30%;
  float: right;
  text-align: right;
}

.pagination ul .older {
  width: 30%;
  float: left;
  text-align: left;
}

/* Post styles */

.site-header h2 {
  display: block;
  color: rgb(150, 150, 150);
  font-size: 13px;
  font-weight: 300;
  width: 100%;
  height: 30px;
  text-align: center;
}

.post-content {
  position: relative;
  margin-bottom: 50px;
  text-align: justify;
}

.post-content>* {
  margin: 18px 0;
}

.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
  font-weight: 500;
  line-height: 1;
  margin: 25px 0 12px;
}

.post-content h2 {
  font-size: 20px;
  border-left: 8px solid;
  padding-left: 8px;
}

.post-content h3 {
  font-size: 18px;
  border-left: 7px solid;
  padding-left: 7px;
}

.post-content h4 {
  font-size: 16px;
  border-left: 6px solid;
  padding-left: 6px;
}

.post-content #markdown-toc:before {
  content: "目录";
  font-size: 16px;
  font-weight: 600;
}

.post-content #markdown-toc {
  float: right;
  min-width: 150px;
  margin: 10px 20px;
  padding: 20px 30px;
  background: rgb(240, 240, 240);
  -moz-border-radius: 10px;
       border-radius: 10px;
  behavior: url(css/PIE.htc);
}

.post-content blockquote {
  font-size: 13px;
  font-style: italic;
  margin: 30px 0;
  padding-left: 20px;
  opacity: .6;
  border-left: 5px solid rgb(128, 128, 128);
}

.post-content ul, .post-content ol {
  padding-left: 20px;
}

.post-content table {
  font-size: 13px;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.post-content th {
  font-weight: bold;
  padding: 10px 9px;
  color: rgb(51, 51, 51);
  border: 1px solid rgb(194, 196, 197);
  background: rgb(228, 230, 232);
}

.post-content td {
  padding: 7px 8px;
  color: rgb(79, 51, 51);
  border: 1px solid rgb(194, 196, 197);
  background: rgb(249, 249, 249);
}

.post-content img {
  display: block;
  max-width: 100%;
  width: auto;
  width: auto\9;
}

figure, .figure {
  max-width: 640px;
  margin: 0;
  position: relative;
  overflow: hidden;
}

figure img, .figure img {
  position: relative;
}

figcaption, .figcaption {
  position: absolute;
  top: 0 ;
  background: rgb(51, 51, 51);
  height: 25px;
  line-height: 25px;
  padding-left: 3px;
  color: rgb(255, 255, 255);
  font-size: 13px;
  width: 100%;
  overflow: hidden;
}

figure:hover figcaption, .figure:hover .figcaption {
  opacity: .8;
  -webkit-transition: transform .8s, opacity .8s;
     -moz-transition: transform .8s, opacity .8s;
       -o-transition: transform .8s, opacity .8s;
          transition: transform .8s, opacity .8s;
}

iframe {
  border: none;
  width: 100%;
}

.post-content pre, .post-content code {
  font-size: 13px;
  font-family: Consolas, 'Microsoft Yahei';
  background-color: rgb(233, 233, 233);
  overflow: auto;
  -moz-border-radius: 3px;
       border-radius: 3px;
  behavior: url(css/PIE.htc);
}

.post-content code {
  padding: 1px 5px;
}

.post-content ul, .post-content ol {
  margin-left: 15px;
}

.post-content pre code {
  display: inline;
  max-width: initial;
  line-height: inherit;
  padding: 0;
  margin: 0;
  border: 0;
}

/* terminal */

.post-content pre.terminal {
  color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  -moz-border-radius: 3px;
       border-radius: 3px;
  behavior: url(css/PIE.htc);
}

.post-content pre.terminal code {
  background-color: rgb(50, 50, 50);
}

.post-content #qrcode {
  position: absolute;
  right: 0;
  bottom: -6px;
  margin: 0;
  font-size: 16px;
}

.comment {
  text-align: center;
}

.comment .comment-toggle {
  background-color: rgb(245, 245, 245);
  color: rgb(150, 150, 150);
  border: none;
  -moz-border-radius: 0;
       border-radius: 0;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
  line-height: 1.8;
  height: 36px;
  padding: 0 20px;
  margin: 3px;
  display: inline-block;
  cursor: pointer;
}

/* Article Nav */

.article-nav {
  margin: 15px 0 5px;
}

.article-nav ul .newer {
  width: 50%;
  float: right;
  text-align: right;
}

.article-nav ul .older {
  width: 50%;
  float: left;
  text-align: left;
}

.code {
  background: rgba(200, 200, 200, .5);
  padding: 8px 30px;
  position: absolute;
  bottom: 10px;
  right: -20px;
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.code a {
  color: rgb(100, 100, 100);
}
.code a:hover {
  text-decoration: none;
  color: rgb(100, 100, 100);
}

/* highlight */
/*
 * GitHub style for Pygments syntax highlighter, for use with Jekyll
 * Courtesy of GitHub.com
 */

.highlight pre, pre, .highlight .hll {
  padding: 6px 8px;
  border-radius: 3px;
  behavior: url(css/PIE.htc);
}
.highlight .c {
  color: #999988;
  font-style: italic;
}
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.highlight .k {
  font-weight: bold;
}
.highlight .o {
  font-weight: bold;
}
.highlight .cm {
  color: #999988;
  font-style: italic;
}
.highlight .cp {
  color: #999999;
  font-weight: bold;
}
.highlight .c1 {
  color: #999988;
  font-style: italic;
}
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gr {
  color: #aa0000;
}
.highlight .gh {
  color: #999999;
}
.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa;
}
.highlight .go {
  color: #888888;
}
.highlight .gp {
  color: #555555;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gu {
  color: #800080;
  font-weight: bold;
}
.highlight .gt {
  color: #aa0000;
}
.highlight .kc {
  font-weight: bold;
}
.highlight .kd {
  font-weight: bold;
}
.highlight .kn {
  font-weight: bold;
}
.highlight .kp {
  font-weight: bold;
}
.highlight .kr {
  font-weight: bold;
}
.highlight .kt {
  color: #445588;
  font-weight: bold;
}
.highlight .m {
  color: #009999;
}
.highlight .s {
  color: #dd1144;
}
.highlight .n {
  color: #333333;
}
.highlight .na {
  color: teal;
}
.highlight .nb {
  color: #0086b3;
}
.highlight .nc {
  color: #445588;
  font-weight: bold;
}
.highlight .no {
  color: teal;
}
.highlight .ni {
  color: purple;
}
.highlight .ne {
  color: #990000;
  font-weight: bold;
}
.highlight .nf {
  color: #990000;
  font-weight: bold;
}
.highlight .nn {
  color: #555555;
}
.highlight .nt {
  color: navy;
}
.highlight .nv {
  color: teal;
}
.highlight .ow {
  font-weight: bold;
}
.highlight .w {
  color: #bbbbbb;
}
.highlight .mf {
  color: #009999;
}
.highlight .mh {
  color: #009999;
}
.highlight .mi {
  color: #009999;
}
.highlight .mo {
  color: #009999;
}
.highlight .sb {
  color: #dd1144;
}
.highlight .sc {
  color: #dd1144;
}
.highlight .sd {
  color: #dd1144;
}
.highlight .s2 {
  color: #dd1144;
}
.highlight .se {
  color: #dd1144;
}
.highlight .sh {
  color: #dd1144;
}
.highlight .si {
  color: #dd1144;
}
.highlight .sx {
  color: #dd1144;
}
.highlight .sr {
  color: #009926;
}
.highlight .s1 {
  color: #dd1144;
}
.highlight .ss {
  color: #990073;
}
.highlight .bp {
  color: #999999;
}
.highlight .vc {
  color: teal;
}
.highlight .vg {
  color: teal;
}
.highlight .vi {
  color: teal;
}
.highlight .il {
  color: #009999;
}
.highlight .gc {
  color: #999999;
  background-color: #eaf2f5;
}

/* media queries */

@media screen and (max-width: 852px) {
  body {
    background-color: rgb(251, 251, 251);
  }
  .navigation .menu {
    color: rgb(100, 100, 100);
  }
  .wrapper {
    margin: 0;
    border: 0;
    width: 76%;
    padding: 0 12%;
    box-shadow: none;
  }
  .code{
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .wrapper {
    width: 90%;
    padding: 0 5%;
  }
  .navigation .menu, .navigation .navigation-list .navigation-item {
    line-height: 40px;
    height: 40px;
    font-size: 20px;
  }
  .navigation .navigation-list {
    width: 160px;
  }
  .post-content #markdown-toc{
    display: none;
  }
  #gototop {
    opacity: .6;
  }
}

@media screen and (max-width: 414px) {
  body, .site-header h2{
    font-size: 16px;
  }
  .wrapper {
    width: 100%;
    max-width: 100%;
    padding: 0;
  }
  ul, .post-content p {
    padding: 0 2%;
  }
  .post-content p.image {
    padding: 0;
  }
  .site-header h1, .site-header h2 {
    left: 2%;
  }
}
