@font-face {
	font-family: Roboto;
	@include fontdef-woff("Roboto", "2.137", "Light");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Roboto;
	@include fontdef-woff("Roboto", "2.137", "Regular");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Roboto;
	@include fontdef-woff("Roboto", "2.137", "Medium");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Roboto Mono";
	@include fontdef-woff("RobotoMono", "1.0", "Light");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Roboto Mono";
	@include fontdef-woff("RobotoMono", "1.0", "Regular");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Roboto Mono";
	@include fontdef-woff("RobotoMono", "1.0", "Medium");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Roboto Mono";
	@include fontdef-woff("RobotoMono", "1.0", "LightItalic");
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: "Roboto Mono";
	@include fontdef-woff("RobotoMono", "1.0", "Italic");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "Roboto Mono";
	@include fontdef-woff("RobotoMono", "1.0", "MediumItalic");
	font-weight: 500;
	font-style: italic;
}
