@charset "utf-8";
// Utility
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
strong,
b {
  font-weight: bold;
  color: $black;
}

:focus{
  outline: none;
}

abbr[title]{
  text-decoration: none;
}

video {
  max-width: 100%;
  margin: 0!important;
}

.cf {
  zoom: 1;
  &:before,
  &:after {
    display: table;
    content: '';
  }
  &:after {
    clear: both;
  }
}

h1,h2,h3,h4,h5,h6{
  font-weight: 400;
}

img{
  max-width: 100%;
  image-rendering:   -o-crisp-edges;         /* Opera */
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

html {
  min-height: 100%;
}

.icon{
  display: inline-block;
  vertical-align: middle;
}

body {
  letter-spacing: .03em;
  color: $default;
  background-color: $lightblue;
  overflow-y: scroll;
  font: 400 14px/1.6 -apple-system, "Noto Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

.page-thumb {
  display: none;
}

.page-main{
  display: block;
  background-color: $white;
  max-width: 768px;
  width: 100%;
  padding: 48px 64px;
  margin: 32px auto;
  position: relative;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .06);
  text-align: justify;
  text-justify: ideographic;
  word-break: break-all;
  word-wrap: break-word;
  a {
    color: $darkblue;
  }
  .post-tags-item{
    padding-right: 5px;
    color: $black;
    &:hover {
      border-bottom: none;
    }
  }
  #tags-table{
    thead tr:last-child th:first-child {
      width: 150px;
    }
  }
  .note:target{
    background-color: rgba(230, 230, 230, .5);
  }
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    transform: skew(3deg, 2deg);
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.2);
    height: 100px;
    bottom: 15px;
    right: 3px;
    width: 250px;
  }
  table {
    font-size: 13px;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    th {
      font-weight: bold;
      padding: 10px 9px;
      color: rgb(51, 51, 51);
      border: 1px solid rgb(194, 196, 197);
      background-color: rgb(228, 230, 232);
      white-space: nowrap;
    }
    td {
      padding: 7px 8px;
      color: rgb(79, 51, 51);
      border: 1px solid rgb(194, 196, 197);
      background-color: rgb(249, 249, 249);
      &:nth-child(1){
        white-space: nowrap;
      }
    }
  }
}

.page-header {
  .page-title {
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 2px solid #e7e7eb;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    &:before{
      content: "";
      display: block;
      position: absolute;
      bottom: -2px;
      left: 0;
      height: 2px;
      background-color: #7db9de;
    }
    &:after{
      display: inline-block;
      position: absolute;
      bottom: -7px;
      color: #7db9de;
      background-color: #fff;
      padding: 0 3px;
      font-size: 12px;
      line-height: 1;
      opacity: 0;
      transition: .3s opacity;
    }
    &:hover:after{
      opacity: .6;
    }
    .page-title-link {
      color: $black;
      border-bottom: none;
      display: block;
    }
    .icon{
      margin-top: 4px;
      display: inline-block;
      width: 24px;
      height: 24px;
      cursor: pointer;
    }
    .page-search-input {
      padding: 0 5px;
      width: 150px;
      border: 1px solid #e7e7eb;
      border-radius: 0;
      font-size: 13px;
      color: 333;
    }
  }
  .page-subtitle {
    color: $lightgray;
    width: 100%;
    font-size: 13px;
    line-height: 2;
    &:hover{
      border-bottom: none;
    }
  }
  .post-time {
    word-spacing: -1px;
  }
  .post-cat-tag{
    margin-right: 8px;
    &.active{
      color: #000;
    }
    &:hover{
      border-bottom: none;
    }
    &:last-child{
      float: right;
    }
  }
}

.page-footer {
  text-align: center;
  color: $lightgray;
}

.post-list{
  min-height: 680px;
  a {
    &:hover{
      border-bottom: 1px dashed $darkblue;
    }
    &:target{
      background-color: rgba(230, 230, 230, .5);
    }
  }
}

.post-item {
  display: flex;
  margin: 20px 0;
  .post-item-thumb {
    display: block;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 4px;
    transition: all .5s;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #fff;
  }
  .post-item-summary {
    margin: 0 10px;
    flex: 1;
    height: 50px;
    line-height: 25px;
    .post-item-title {
      font-size: 14px;
      color: $darkblue;
      height: 25px;
      overflow: hidden;
      position: relative;
      &:after{
        content: '';
        position: absolute;
        bottom: 0;
        right: 0; 
        width: 20%;
        height: 25px;
        background-color: transparent;
        background-image: linear-gradient(to right,rgba(255,255,255,0),#ffffff 50%)
      }
    }
    .post-item-date {
      color: $lightgray;
      opacity: 0;
      font-size: 13px;
      transition: .5s all;
      &:not(:empty) {
        opacity: 1;
      }
    }
  }
  .post-item-comment {
    display: block;
    margin: auto;
    text-decoration: none;
    text-align: center;
    color: $white;
    border-radius: 10px;
    width: 30px;
    height: 16px;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    opacity: 0;
    &:not(:empty) {
      opacity: 1;
      background-color: rgb(150, 215, 245);
    }
    &[data-disqus-count="0"] {
      opacity: 0;
      pointer-events: none;
    }
    &:hover {
      background-color: $darkblue;
      border-bottom: none;
    }
  }
}

.post-life{
  display: flex;
  flex-wrap: wrap;
  min-height: 0;
  margin: 0 -5px;
  .post-item{
    flex: none;
    padding: 0 5px;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    width: 33.3333%;
  }
  .post-item-thumb{
    background-size: contain;
    width: 100%;
    height: 0;
    padding-top: 67%;
  }
  .post-item-summary{
    margin: 3px 0 0;
    height: 25px;
    font-size: 13px;
    flex: none;
  }
  .post-item-footer{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
  }
  .post-item-cmt{
    color: #333;
    &:hover{
      border-bottom: none;
    }
    span:empty + span{
      display: none;
    }
  }
}

// Pagination
.pagination{
  &.loading {
    background-image: url("/assets/svg/loading.svg");
    width: 24px;
    height: 30px;
    margin: 20px auto;
  }
  .pagination-list {
    list-style-type: none;
    margin: 10px auto;
    font-size: 13px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    line-height: 30px;
    color: $darkgray;
  }
  .pagination-item{
    padding: 0 10px;
    text-align: center;
    width: 100px;
    &:first-child{
      text-align: left;
    }
    &:last-child{
      text-align: right;
    }
  }
  .pagination-item-link {
    color: $darkgray;
    &:hover{
      border-bottom-color: $darkgray;
    }
  }
}

// Post
.post-content {
  a {
    &:hover{
      border-bottom: 1px dashed $darkblue;
    }
    &:target{
      background-color: rgba(230, 230, 230, .5);
    }
  }
  ul,
  ol {
    margin-left: 25px;
    font-size: 13px;
  }
  >*{
    margin: 18px 0;
  }
  h2 {
    border-left: 4px solid $darkblue;
    padding-left: 5px;
    font-size: 14px;
    font-weight: 500;
    &:hover:after, &:target:after{
      content: " ¶";
    }
  }
  h3 {
    font-size: 13px;
    font-weight: 500;
    &:hover:after, &:target:after{
      content: " ¶";
    }
  }
  a:not([href*="blog.fooleap.org"]):not([href^="#"]):not([href^="/"]):not([target="_blank"]),
  a[href^="#note"]{
    vertical-align:super;
    font-size: smaller;
  }
  blockquote {
    font-size: 13px;
    padding: 5px 10px;
    opacity: .6;
    border-left: 5px solid $darkgray;
    overflow: hidden;
  }
  iframe {
    border: none;
    max-width: 100%;
    margin: 0;
  }
  .iframe-container,
  .iframe-normal-container,
  .iframe-wide-container {
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
    .iframe{
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      bottom: 0;
    }
  }
  .iframe-container{
    padding-bottom: 67%;
  }
  .iframe-normal-container {
    padding-bottom: calc(75% + 50px);
  }
  .iframe-wide-container {
    padding-bottom: calc(56.25% + 50px);
  }
  .post-toc{
    margin-left: 15px;
  }
  .post-figure {
    max-width: 640px;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    &[data-exif]:before{
      content: attr(data-exif);
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      transition: opacity .5s;
      opacity: 0;
      background: linear-gradient(to bottom, rgba(0, 0, 0, .6), transparent);
      width: 100%;
      height: 25px;
      font-size: 12px;
      line-height: 25px;
      padding: 0 15px;
      color: $white;
      overflow: hidden;
      box-sizing: border-box;
    }
    &[data-exif]:hover:before{
      opacity: .7;
    }
    .post-image {
      cursor: pointer;
      display: block;
      max-width: 100%;
      width: auto;
      overflow: hidden;
      &:hover {
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
      }
    }
    .post-figcaption{
      position: absolute;
      display: block;
      left: 0;
      right: 0;
      bottom: 0;
      color: #fff;
      padding: 0 5px;
      line-height: 30px;
      text-shadow: 0 0 1px rgba(0,0,0,.3);
      font-size: 12px;
      background: linear-gradient(to right, rgba(0, 0, 0, .8), transparent);
    }
  }
}

.search{
  .search-header{
    margin: 40px auto;
    width: 80%;
    position: relative;
    .icon{
      position: absolute;
      top: 8px;
      left: 8px;
      width: 24px;
      height: 24px;
      fill: rgb(98,98,98);
    }
    .search-input{
      display: block;
      width: 100%;
      height: 40px;
      line-height: 40px;
      padding: 0 10px 0 36px;
      border: 1px solid #d5d5d5;
      border-radius: 5px;
      font-size: 13px;
    }
  }
  .search-result-item{
    display: flex;
    margin: 25px 0;
    height: 70px;
    .search-result-thumb{
      width: 70px;
      height: 70px;
      display: block;
      overflow: hidden;
      border-radius: 4px;
      transition: all .5s;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-color: #fff;
    }
  }
  .search-result-content{
    flex: 1;
    padding: 0 10px;
    .search-result-header{
      line-height: 26px;
      height: 26px;
      .search-result-title{
        font-size: 14px;
      }
    }
    .search-result-desc{
      font-size: 13px;
      line-height: 22px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
    .search-result-highlight {
      display: inline-block;
      background-color: rgba(255,255,0,.7);
    }
  }
}
// TOC
.post-toc {
  position: fixed;
  visibility: hidden;
  top: 32px;
  margin: 0;
  min-width: 160px;
  background-color: $white;
  list-style: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .06);
  padding: 5px;
  &:before {
    content: '目录';
    font-size: 13px;
    font-weight: bold;
    line-height: 30px;
    height: 30px;
  }
  li {
    line-height: 30px;
    a {
      display: inline-block;
      width: 100%;
      color: $default;
      font-size: 13px;
      text-indent: 5px;
      &:hover {
        font-weight: bold;
        border-bottom: none;
      }
    }
    .active {
      font-weight: bold;
    }
    li {
      margin-left: 10px;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      a {
        font-size: 13px;
        line-height: 25px;
      }
    }
  }
}

pre,
code {
  font-size: 12px;
  font-family: "Roboto Mono", Consolas, source-han-sans-cjk-sc, monospace;
  background-color: rgb(245, 245, 245);
  overflow: auto;
  padding: 5px 10px;
  word-wrap: break-word;
  white-space: pre-wrap;
}

code {
  padding: 1px 5px;
}

pre {
  code {
    display: inline;
    max-width: initial;
    line-height: inherit;
    margin: 0;
    padding: 0;
    border: 0;
  }
  &.terminal {
    color: $white;
    border: 1px solid $black;
    border-radius: 3px;
  }
  &.terminal code {
    background-color: $lightgray;
  }
}

.flow svg{
  max-width: 100%;
  height: 100%;
}
.flow-content{
  display: none;
  &:target{
    display: block;
  }
}

.post-extend {
  display: flex;
  .post-extend-title {
    font-weight: bold;
  }
  .post-extend-content {
    flex: 1;
    width: 50%;
  }
  .post-extend-list {
    padding: 10px 0 10px 10px;
    list-style: none;
    li {
      margin: 2px 0;
      height: 20px;
      overflow: hidden;
    }
    a {
      display: inline-block;
      line-height: 20px;
      height: 20px;
      color: $darkblue;
    }
  }
}

.wechat-related{
  display: flex;
  justify-content: center;
  margin: 60px 0 30px;
  .wechat-related-item{
    position: relative;
    height: 27px;
    margin-right: 15px;
    &:last-child{
      margin-right: 0;
    }
  }
  .wechat-related-btn{
    user-select: none;
    cursor: pointer;
    border-radius: 3px;
    line-height: 27px;
    border: 1px solid #434343;
    text-align: center;
    width: 90px;
    color: #434343;
    background-color: #fff;
    font-size: 13px;
    display: block;
  }

  #wechat-article{
    ~ .wechat-related-btn{
      .icon{
        display: inline-block;
        width: 16px;
        height: 16px;
      }
    }
    &:checked ~ {
      .wechat-related-btn {
        color: #51c332;
        border-color: #51c332;
        .icon {
          fill: #51c332;
        }
      }
      .wechat-qrcode{
        display: block;
      }
    }
  }

  #wechat-paycode{
    ~ .wechat-related-btn{
      .icon{
        display: inline-block;
        width: 13px;
        height: 13px;
        &+ .icon{
          display: none;
        }
      }
    }
    &:checked ~ {
      .wechat-related-btn {
        color: #f46f56;
        border-color: #f46f56;
        .icon {
          display: none;
          &+ .icon{
            display: inline-block;
          }
        }
      }
      .wechat-paycode{
        display: block;
      }
    }
  }
  .wechat-related-checkbox{
    display: none;
  }
  .wechat-paycode{
    background-image: url(//source.fooleap.org/wechat-reward.png);
  }
  .wechat-qrcode,
  .wechat-paycode{
    padding: 10px;
    display: none;
    width: 120px;
    height: 120px;
    background-size: cover;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
    border-radius: 3px;
    position: absolute;
    bottom: 32px;
    left: 50%;
    margin-left: -60px;
  }
}

.post-info {
  font-size: 13px;
  line-height: 20px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  .icon{
    height: 20px;
    width: 20px;
  }
  .post-source{
    display: flex;
    .post-source-button{
      display: block;
      color: $white!important;
      background-color: $darkgray;
      border-radius: 2px;
      border-bottom: none;
      line-height: 20px;
      height: 20px;
      padding: 0 2px;
      margin: 0 5px;
      &:hover{
        border-bottom: none;
      }
    }
  }
  .post-tags {
    display: flex;
    .post-tag-list {
      list-style: none;
      display: flex;
    }
    .post-tag-item {
      margin-left: 5px;
    }
    .post-tag-link {
      display: block;
      color: $white!important;
      background-color: $darkgray;
      border-radius: 2px;
      border-bottom: none;
      line-height: 20px;
      height: 20px;
      padding: 0 2px;
    }
  }
  // Share
  .post-share {
    display: flex;
    position: relative;
    .post-share-item{
      width: 20px;
      height: 20px;
      margin: 0 3px;
      color: $darkgray;
      cursor: pointer;
      &:hover{
        border-bottom: none;
      }
    }
    .icon{
      transition: all .3s;
      fill: $darkgray;
      &+ .icon{
        display: none;
      }
    }
    .wechat:hover .icon {
      fill: rgb(81, 195, 50);
    }
    .weibo:hover .icon {
      fill: rgb(231, 44, 64);
    }
    .qzone:hover .icon {
      fill: rgb(252, 185, 32);
    }
    .twitter:hover .icon{
      fill: rgb(85, 172, 238);
    }
    .facebook:hover .icon {
      fill: rgb(65, 93, 152);
    }
    .gplus:hover .icon {
      fill: rgb(219, 68, 55);
    }
    .post-qrcode {
      display: none;
      position: absolute;
      bottom: 30px;
      right: 80px;
      width: 100px;
      height: 100px;
      overflow: hidden;
      background-color: $white;
      padding: 10px;
      border: 1px solid $lightgray;
      border-radius: 5px;
      box-shadow: 1px 1px 2px rgb(150, 150, 150);
    }
    .post-qrcode-input{
      display: none;
    }
    .post-qrcode-input:checked{
      + .post-qrcode{
        display: block;
      }
      ~ .wechat .icon {
        fill: rgb(81, 195, 50);
      }
    }
  }
}

.archive-title + ul li {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.task-list-item {
  list-style-type: none;
  margin-left: -15px;
}

.comment-tips{
  margin: 20px 0 10px;
  height: 30px;
  text-align: center;
  background-color: #f3f3f3;
  border-radius: 3px;
  color: #333;
  line-height: 20px;
  padding: 5px 0;
  font-size: 13px;
}
