@charset "utf-8";
// Utility
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
strong,
b {
    font-weight: bold;
    color: $black;
}

:focus{
    outline: none;
}

abbr[title]{
    text-decoration: none;
}

video {
    max-width: 100%;
    margin: 0!important;
}

.cf {
    zoom: 1;
    &:before,
    &:after {
        display: table;
        content: '';
    }
    &:after {
        clear: both;
    }
}

h1,h2,h3,h4,h5,h6{
    font-weight: 400;
}

img{
    max-width: 100%;
    image-rendering:   -o-crisp-edges;         /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

html {
    min-height: 100%;
}

.icon{
    display: inline-block;
    vertical-align: middle;
}

body {
    letter-spacing: .03em;
    color: $default;
    background-color: $lightblue;
    overflow-y: scroll;
    font: 400 14px/1.6 Roboto, Arial, "Noto Sans SC Sliced", "微软雅黑", sans-serif;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

.page-thumb {
    display: none;
}

.page-main{
    display: block;
    background-color: $white;
    max-width: 768px;
    width: 100%;
    padding: 48px 64px;
    margin: 32px auto;
    position: relative;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .06);
    text-align: justify;
    text-justify: ideographic;
    word-break: break-all;
    word-wrap: break-word;
    a {
        color: $darkblue;
    }
    .post-tags-item{
        padding-right: 5px;
        color: $black;
        &:hover {
            border-bottom: none;
        }
    }
    .note:target{
        background-color: rgba(230, 230, 230, .5);
    }
    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        transform: skew(3deg, 2deg);
        box-shadow: 0 15px 10px rgba(0, 0, 0, 0.2);
        height: 100px;
        bottom: 15px;
        right: 3px;
        width: 250px;
    }
    table {
        font-size: 13px;
        text-align: left;
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        th {
            font-weight: bold;
            padding: 10px 9px;
            color: rgb(51, 51, 51);
            border: 1px solid rgb(194, 196, 197);
            background-color: rgb(228, 230, 232);
            white-space: nowrap;
        }
        td {
            padding: 7px 8px;
            color: rgb(79, 51, 51);
            border: 1px solid rgb(194, 196, 197);
            background-color: rgb(249, 249, 249);
            &:nth-child(1){
                white-space: nowrap;
            }
        }
    }
}

.page-header {
    .page-title {
        padding-bottom: 5px;
        border-bottom: 1px solid #e7e7eb;
        font-weight: 500;
        font-size: 16px;
        display: flex;
        justify-content: space-between;
        .page-title-link {
            color: $black;
            border-bottom: none;
            display: block;
        }
        .icon{
            margin-top: 4px;
            display: inline-block;
            width: 24px;
            height: 24px;
            cursor: pointer;
        }
        .page-search-input {
            padding: 0 5px;
            width: 150px;
            border: 1px solid #e7e7eb;
            border-radius: 0;
            font-size: 13px;
            color: 333;
        }
    }
    .page-subtitle {
        color: $lightgray;
        width: 100%;
        font-size: 13px;
        line-height: 2;
        &:hover{
            border-bottom: none;
        }
    }
    .post-time {
        word-spacing: -1px;
    }
    .post-cat-tag{
        margin-right: 8px;
        &.active{
            color: #000;
        }
        &:hover{
            border-bottom: none;
        }
        &:last-child{
            float: right;
        }
    }
}

.page-footer {
    text-align: center;
    color: $lightgray;
}

.post-list{
    min-height: 680px;
    a {
        &:hover{
            border-bottom: 1px dashed $darkblue;
        }
        &:target{
            background-color: rgba(230, 230, 230, .5);
        }
    }
}

.post-item {
    display: flex;
    margin: 20px 0;
    .post-item-thumb {
        display: block;
        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 4px;
        transition: all .5s;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-color: #fff;
    }
    .post-item-summary {
        margin: 0 10px;
        flex: 1;
        height: 50px;
        line-height: 25px;
        .post-item-title {
            font-size: 14px;
            color: $darkblue;
            height: 25px;
            overflow: hidden;
            position: relative;
            &:after{
                content: '';
                position: absolute;
                bottom: 0;
                right: 0; 
                width: 20%;
                height: 25px;
                background-color: transparent;
                background-image: linear-gradient(to right,rgba(255,255,255,0),#ffffff 50%)
            }
        }
        .post-item-date {
            color: $lightgray;
            opacity: 0;
            font-size: 13px;
            transition: .5s all;
            &:not(:empty) {
                opacity: 1;
            }
        }
    }
    .post-item-comment {
        display: block;
        margin: auto;
        text-decoration: none;
        text-align: center;
        color: $white;
        border-radius: 10px;
        width: 30px;
        height: 16px;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        opacity: 0;
        &:not(:empty) {
            opacity: 1;
            background-color: rgb(150, 215, 245);
        }
        &[data-disqus-count="0"] {
            opacity: 0;
            pointer-events: none;
        }
        &:hover {
            background-color: $darkblue;
            border-bottom: none;
        }
    }
}

// Pagination
.pagination{
    &.loading {
        background-image: url("/assets/svg/loading.svg");
        width: 24px;
        height: 30px;
        margin: 20px auto;
    }
    .pagination-list {
        list-style-type: none;
        margin: 10px auto;
        font-size: 13px;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 30px;
        line-height: 30px;
        color: $darkgray;
    }
    .pagination-item{
        padding: 0 10px;
        text-align: center;
        width: 100px;
        &:first-child{
            text-align: left;
        }
        &:last-child{
            text-align: right;
        }
    }
    .pagination-item-link {
        color: $darkgray;
        &:hover{
            border-bottom-color: $darkgray;
        }
    }
}

// Post
.post-content {
    a {
        &:hover{
            border-bottom: 1px dashed $darkblue;
        }
        &:target{
            background-color: rgba(230, 230, 230, .5);
        }
    }
    ul,
    ol {
      margin-left: 25px;
      font-size: 13px;
    }
    >*{
        margin: 18px 0;
    }
    h2 {
        border-left: 4px solid $darkblue;
        padding-left: 5px;
        font-size: 14px;
        &:hover:after, &:target:after{
            content: " ¶";
        }
    }
    h3 {
        font-size: 13px;
        &:hover:after, &:target:after{
            content: " ¶";
        }
    }
    a:not([href*="blog.fooleap.org"]):not([href^="#"]):not([href^="/"]):not([target="_blank"]),
    a[href^="#note"]{
        vertical-align:super;
        font-size: smaller;
    }
    blockquote {
        font-size: 13px;
        padding: 5px 10px;
        opacity: .6;
        border-left: 5px solid $darkgray;
        overflow: hidden;
    }
    iframe {
        border: none;
        max-width: 100%;
        margin: 0;
    }
    .iframe-container,
    .iframe-normal-container,
    .iframe-wide-container {
        position: relative;
        width: 100%;
        height: 0;
        .iframe{
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
        }
    }
    .iframe-container{
        padding-bottom: 67%;
    }
    .iframe-normal-container {
        padding-bottom: 83%;
    }
    .iframe-wide-container {
        padding-bottom: 65%;
    }
    .post-toc{
        margin-left: 15px;
    }
    .post-figure {
        max-width: 640px;
        position: relative;
        overflow: hidden;
        .post-image {
            cursor: pointer;
            display: block;
            max-width: 100%;
            width: auto;
            overflow: hidden;
            &:hover {
                box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
            }
        }
        .post-figcaption{
            font-size: 13px;
            &:before{
                content: attr(data-exif);
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                transition: opacity .5s;
                opacity: 0;
                background-color: $black;
                width: 100%;
                height: 25px;
                font-size: 13px;
                line-height: 25px;
                padding: 0 3px;
                color: $white;
                overflow: hidden;
            }
        }
        &:hover {
            .post-figcaption[data-exif]:before{
                opacity: .7;
            }
        }
    }
}

.search{
    .search-header{
        margin: 40px auto;
        width: 80%;
        position: relative;
        .icon{
            position: absolute;
            top: 8px;
            left: 8px;
            width: 24px;
            height: 24px;
            fill: rgb(98,98,98);
        }
        .search-input{
            display: block;
            width: 100%;
            height: 40px;
            line-height: 40px;
            padding: 0 10px 0 36px;
            border: 1px solid #d5d5d5;
            border-radius: 5px;
            font-size: 13px;
        }
    }
    .search-result-item{
        display: flex;
        margin: 25px 0;
        height: 70px;
        .search-result-thumb{
            width: 70px;
            height: 70px;
            display: block;
            overflow: hidden;
            border-radius: 4px;
            transition: all .5s;
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-color: #fff;
        }
    }
    .search-result-content{
        flex: 1;
        padding: 0 10px;
        .search-result-header{
            line-height: 26px;
            height: 26px;
            .search-result-title{
                font-size: 14px;
            }
        }
        .search-result-desc{
            font-size: 13px;
            line-height: 22px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }
        .search-result-highlight {
            display: inline-block;
            background-color: rgba(255,255,0,.7);
        }
    }
}
// TOC
.post-toc {
    position: fixed;
    visibility: hidden;
    top: 32px;
    margin: 0;
    min-width: 160px;
    background-color: $white;
    list-style: none;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .06);
    padding: 5px;
    &:before {
        content: '目录';
        font-size: 13px;
        font-weight: 500;
        line-height: 30px;
        height: 30px;
    }
    li {
        line-height: 30px;
        a {
            display: inline-block;
            width: 100%;
            color: $default;
            font-size: 13px;
            text-indent: 5px;
            &:hover {
                border-radius: 3px;
                background-color: rgb(230, 230, 230);
                border-bottom: none;
            }
        }
        .active {
            background-color: rgb(230, 230, 230);
            border-radius: 3px;
        }
        li {
            margin-left: 10px;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            a {
                font-size: 13px;
                line-height: 25px;
            }
        }
    }
}

pre,
code {
    font-size: 12px;
    font-family: "Roboto Mono", Consolas, monospace;
    background-color: rgb(245, 245, 245);
    overflow: auto;
    padding: 5px 10px;
    word-wrap: break-word;
    white-space: pre-wrap;
}

code {
    padding: 1px 5px;
}

pre {
    code {
        display: inline;
        max-width: initial;
        line-height: inherit;
        margin: 0;
        padding: 0;
        border: 0;
    }
    &.terminal {
        color: $white;
        border: 1px solid $black;
        border-radius: 3px;
    }
    &.terminal code {
        background-color: $lightgray;
    }
}

.flow svg{
    max-width: 100%;
    height: 100%;
}
.flow-content{
    display: none;
    &:target{
        display: block;
    }
}

.post-extend {
    display: flex;
    .post-extend-title {
        font-weight: bold;
    }
    .post-extend-content {
        flex: 1;
        width: 50%;
    }
    .post-extend-list {
        padding: 10px 0 10px 10px;
        list-style: none;
        li {
            margin: 2px 0;
            height: 20px;
            overflow: hidden;
        }
        a {
            display: inline-block;
            line-height: 20px;
            height: 20px;
            color: $darkblue;
        }
    }
}

.post-info {
    font-size: 13px;
    line-height: 20px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    .icon{
        height: 20px;
        width: 20px;
    }
    .post-source{
        display: flex;
        .post-source-button{
            display: block;
            color: $white!important;
            background-color: $darkgray;
            border-radius: 2px;
            border-bottom: none;
            line-height: 20px;
            height: 20px;
            padding: 0 2px;
            margin: 0 5px;
            &:hover{
                border-bottom: none;
            }
        }
    }
    .post-tags {
        display: flex;
        .post-tag-list {
            list-style: none;
            display: flex;
        }
        .post-tag-item {
            margin-left: 5px;
        }
        .post-tag-link {
            display: block;
            color: $white!important;
            background-color: $darkgray;
            border-radius: 2px;
            border-bottom: none;
            line-height: 20px;
            height: 20px;
            padding: 0 2px;
        }
    }
    // Share
    .post-share {
        display: flex;
        position: relative;
        .post-share-item{
            width: 20px;
            height: 20px;
            margin: 0 3px;
            color: $darkgray;
            cursor: pointer;
            &:hover{
                border-bottom: none;
            }
        }
        .icon{
            transition: all .3s;
            fill: $darkgray;
            &+ .icon{
                display: none;
            }
        }
        .paycode:hover .icon {
            display: none;
            &+ .icon{
                display: inline-block;
            }
        }
        .wechat:hover .icon {
            fill: rgb(81, 195, 50);
        }
        .weibo:hover .icon {
            fill: rgb(231, 44, 64);
        }
        .qzone:hover .icon {
            fill: rgb(252, 185, 32);
        }
        .twitter:hover .icon{
            fill: rgb(85, 172, 238);
        }
        .facebook:hover .icon {
            fill: rgb(65, 93, 152);
        }
        .gplus:hover .icon {
            fill: rgb(219, 68, 55);
        }
        .post-qrcode {
            display: none;
            position: absolute;
            bottom: 30px;
            right: 80px;
            width: 100px;
            height: 100px;
            overflow: hidden;
            background-color: $white;
            padding: 10px;
            border: 1px solid $lightgray;
            border-radius: 5px;
            box-shadow: 1px 1px 2px rgb(150, 150, 150);
        }
        .post-paycode{
            display: none;
            background-image: url(//source.fooleap.org/wechat-reward.png);
            width: 150px;
            height: 150px;
            background-size: cover;
            background-color: #fff;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
            border-radius: 5px;
            position: absolute;
            bottom: 30px;
            left: -50%;
            margin-left: 75px;
        }
        .post-qrcode-input,
        .post-paycode-input {
            display: none;
        }
        .post-qrcode-input:checked{
            + .post-qrcode{
                display: block;
            }
            ~ .wechat .icon {
                fill: rgb(81, 195, 50);
            }
        }
        .post-paycode-input:checked{
            + .post-paycode{
                display: block;
            }
            ~ .paycode .icon {
                display: none;
                &+ .icon{
                    display: inline-block;
                }
            }
        }
    }
}

.archive-title + ul li {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.task-list-item {
    list-style-type: none;
    margin-left: -15px;
}

.comment-tips{
    margin: 20px 0 10px;
    height: 30px;
    text-align: center;
    background-color: #f3f3f3;
    border-radius: 3px;
    color: #333;
    line-height: 20px;
    padding: 5px 0;
    font-size: 13px;
}
.comment-guestbook .comment-header{
    display: none;
}
