.lightbox-container{
    background-color: rgba(0,0,0,.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 80px 80px 30px;
    z-index: 10;
    .lightbox{
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        ul{
            list-style-type: none;
        }
    }
}

.lightbox-main{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 100px;
    width: 100%;
    overflow: hidden;
    .lightbox-list{
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: nowrap;
        &.active{ 
            transition: transform 1s;
        }
    }
    .lightbox-item{
        width: 100%;
        height: 100%;
        flex: none;
        text-align: center;
        .lightbox-item-image{
            height: 100%;
        }
    }
}

.lightbox-thumb{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    .lightbox-thumb-list{
        display: flex;
        position: absolute;
        bottom: 0;
        left: 50%;
        height: 80px;
        transition: margin-left .5s;
    }
    .lightbox-thumb-item{
        height: 80px;
        width: 80px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: .6;
    }
}
