@charset "utf-8";
$lightblue: rgb(125, 185, 222);
$darkblue: rgb(46, 169, 223);
$lightgray: rgb(150, 150, 150);
$darkgray: rgb(67, 67, 67);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$default: rgb(34, 34, 34);
@import 'navigation';
@import 'post';
@import 'running';
@import 'album';
@import 'github';
@import 'media';
