@charset "utf-8";
// Firefox hack
@media screen and (min--moz-device-pixel-ratio:0) {
    body {
        font: 14px/1.6 "Helvetica Neue", Helvetica, Arial, "微软雅黑", "Microsoft YaHei", sans-serif;
    }
}
@media screen and(max-width: 768px) {
    .page-main{
        margin: 0;
    }
}
@media screen and(max-width: 450px) {
    .post-cats{
        display: flex;
        position: fixed;
        left: 0;
        z-index: 500;
        bottom: 0;
        width: 100%;
        background-color: #F7F7FA;
        &:before{
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            height: 1px;
            border-top: 1px solid #C0BFC4;
            color: #C0BFC4;
            transform-origin: 0 0;
            transform: scaleY(0.5);
        }
        .post-cat-tag{
            display: block;
            flex: 1;
            padding: 13px 0;
            text-align: center;
            font-size: 15px;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            color: #000;
            margin: 0;
            &.active{
                background-color: #eaeaea;
            }
            &:after{
                content: "";
                position: absolute;
                right: 0;
                top: 0;
                width: 1px;
                bottom: 0;
                border-right: 1px solid #ccc;
                color: #ccc;
                transform-origin: 100% 0;
                transform: scaleX(0.5);
            }
            &:last-child:after{
                display: none;
            }
        }
    }
    body{
       background-color: #fff;
    }
    .navigation {
        top: 8px;
        right: 8px;
    }
    .page-main{
        padding: 20px 0;
        box-shadow: none;
        &:before {
            display: none;
        }
        .page-title {
            padding: 7px;
        }
        .page-subtitle{
            font-size: 11px;
            padding: 0 7px;
        }
        .page-content{
            padding: 0 7px;
        }
        .video{
            margin: 0 -7px;
        }
        .post-figure{
            margin: 0 -7px;
            .post-image-exif{
                font-size: 10px;
                line-height: 20px;
                height: 20px;
            }
            .post-figcaption{
                padding: 0 7px;
            }
        }
        .post-extend{
            flex-direction: column;
            .post-extend-content {
                width: auto;
            }
        }
        .post-share {
            display: none;
        }
        .comment-header{
            margin: 0 -7px;
        }
    }
    .post-source{
        display: none;
    }
    .comment-toggle{
        display: none;
    }
}
