.navigation {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    z-index: 2;
    .navigation-avatar {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        z-index: 2;
        border: 2px solid rgba(255,255,255,1);
        background-color: rgba(255,255,255,1);
        overflow: hidden;
        display: block;
        cursor: pointer;
        position: relative;
        &:before{
            content: "";
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-image: url("http://source.fooleap.org/avatar.jpg");
            background-size: cover;
        }
    }
    .navigation-label {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: none;
    }
    .navigation-toggle{
        display: none;
    }
    .navigation-toggle:checked ~ .navigation-label {
        display: block;
    }
    .navigation-toggle:checked ~ .navigation-list {
        transition: opacity .1s .2s ease-in-out;
        opacity: 1;
        width: 160px;
        height: 210px;
        border-radius: 5px 25px 5px 5px;
    }
    .navigation-toggle:checked ~ .navigation-avatar {
        transition: transform .3s;
        transform: rotate(360deg);
    }
}

.navigation-list {
    list-style:none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(80, 80, 80, 1);
    opacity: 0;
    overflow: hidden;
    .navigation-item {
        position: relative;
        height: 42px;
        line-height: 42px;
        &:hover{
            background-color: rgba(50,50,50,1);
        }
    }
    .navigation-item-link {
        position: absolute;
        left: 10px;
        right: 10px;
        top: 0;
        bottom: 0;
        border-bottom: 1px solid rgba(100, 100, 100, .8);
        color: rgba(200, 200, 200, 1);
        display: flex;
        overflow: hidden;
        line-height: 42px;
        text-decoration: none;
        .icon{
            width: 20px;
            height: 20px;
            margin: 11px;
            display: inline-block;
        }
        &.active,
        &:hover {
            color: rgba(255, 255, 255, 1);
            font-weight: bold;
            .icon{
                fill: #fff;
            }
        }
    }
}
