.navigation {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    z-index: 2;
    .navigation-avatar {
        transition: transform .3s;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        z-index: 2;
        border: 2px solid #fff;
        background-color: #fff;
        overflow: hidden;
        display: block;
        cursor: pointer;
        position: relative;
        &:before{
            content: "";
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-image: url(http://source.fooleap.org/avatar.jpg);
            background-size: cover;
        }
    }
    .navigation-label {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: none;
    }
    .navigation-toggle{
        display: none;
    }
    .navigation-toggle:checked ~ .navigation-label {
        display: block;
        -webkit-tap-highlight-color: transparent;
    }
    .navigation-toggle:checked ~ .navigation-list {
        pointer-events: auto;
        transform: rotate(0);
        opacity: 1;
    }
    .navigation-toggle:checked ~ .navigation-avatar {
        transform: rotate(360deg);
    }
}

.navigation-list {
    transition: all .3s;
    pointer-events: none;
    list-style: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: rgb(80, 80, 80);
    opacity: 0;
    overflow: hidden;
    transform-origin: calc( 100% - 20px ) 20px;
    transform: rotate(-90deg);
    width: 160px;
    height: 210px;
    border-radius: 5px 25px 5px 5px;
    .navigation-item {
        position: relative;
        height: 42px;
        line-height: 42px;
        &:hover{
            background-color: rgb(50,50,50);
        }
    }
    .navigation-item-link {
        position: absolute;
        left: 10px;
        right: 10px;
        top: 0;
        bottom: 0;
        border-bottom: 1px solid rgba(100, 100, 100, .8);
        color: rgb(200, 200, 200);
        display: flex;
        overflow: hidden;
        line-height: 42px;
        text-decoration: none;
        .icon{
            width: 20px;
            height: 20px;
            margin: 11px;
            display: inline-block;
        }
        &.active,
        &:hover {
            color: #fff;
            font-weight: bold;
            .icon{
                fill: #fff;
            }
        }
    }
}
