---
layout: default
---
<section class="articles">
  <ul>
    {% for post in paginator.posts %}
      <li>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
      </li>
    {% endfor %}
  </ul>
</section>

<nav class="pagination">
  <ul>
    {% if paginator.next_page %}
    <li class="older"><a href="/page{{paginator.next_page}}">&larr; Older posts</a></li>
    {% else %}
    {% endif %}
    <li class="number">{{paginator.page}} / {{paginator.total_pages}}</li>
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
    <li class="newer"><a href="/">Newer posts &rarr;</a></li>
      {% else %}
    <li class="newer"><a href="/page{{paginator.previous_page}}/">Newer posts &rarr;</a></li>
      {% endif %}
    {% else %}
    <li class="newer"></li>
    {% endif %}
  </ul>
</nav>
