<section class="comment{% if page.url == '/guestbook.html' %} guestbook{% endif %}">

    <div class="comment-header">
        <span class="comment-header-item" id="comment-count">评论</span>
        {% comment %}
        <span class="comment-header-item login" onclick="showComments()" title="点击加载 Disqus 评论框">登录 Disqus</span>
        {% endcomment %}
        <span class="comment-header-item" id="comment-author" onclick="editGuest()"></span>
    </div>

    <div class="comment-box">
        <div class="comment-avatar avatar">
            <img src="https://a.disquscdn.com/images/noavatar92.png" />
        </div>
        <div class="comment-form">
            <div class="comment-form-wrapper">
                <textarea class="comment-form-textarea" id="message" placeholder="加入讨论…" onfocus="editComment(this)" onblur="editComment(this)"></textarea>
                <div class="comment-actions">
                    <div class="comment-icon-group">
                        <object class="icon icon-face" data-color="rgb(255,0,0)" type="image/svg+xml" data="/assets/svg/face.svg"></object>
                        <ul class="emojione-gallery">
                            <li onclick="AddOnPos(this,':doge:')"><img title="doge" src="http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/b6/doge_org.gif" /></li>
                            <li onclick="AddOnPos(this,':tanshou:')"><img title="tanshou" src="http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/09/pcmoren_tanshou_thumb.png" /></li>
                            <li onclick="AddOnPos(this,':wx_smirk:')"><img title="奸笑" src="{{ site.IMG_PATH }}/wx_emoji/2_02.png" /></li>
                            <li onclick="AddOnPos(this,':wx_hey:')"><img title="嘿哈" src="{{ site.IMG_PATH }}/wx_emoji/2_04.png" /></li>
                            <li onclick="AddOnPos(this,':wx_facepalm:')"><img title="唔脸" src="{{ site.IMG_PATH }}/wx_emoji/2_05.png" /></li>
                            <li onclick="AddOnPos(this,':wx_smart:')"><img title="机智" src="{{ site.IMG_PATH }}/wx_emoji/2_06.png" /></li>
                            <li onclick="AddOnPos(this,':wx_tea:')"><img title="茶" src="{{ site.IMG_PATH }}/wx_emoji/2_07.png" /></li>
                            <li onclick="AddOnPos(this,':wx_yeah:')"><img title="耶" src="{{ site.IMG_PATH }}/wx_emoji/2_11.png" /></li>
                            <li onclick="AddOnPos(this,':wx_moue:')"><img title="皱眉" src="{{ site.IMG_PATH }}/wx_emoji/2_12.png" /></li>
                        </ul>
                        <object class="icon icon-image" data-color="rgb(255,0,0)" type="image/svg+xml" data="/assets/svg/image.svg"></object>
                        <input type="file" accept="image/*" />
                    </div>
                    <button class="comment-form-submit" onclick="postComment()">
                        <object class="icon icon-send" data-color="rgb(255,0,0)" type="image/svg+xml" data="/assets/svg/send.svg"></object>
                    </button>
                </div>
            </div>
            <div class="comment-login">
                <input id="author_name" class="comment-form-input comment-form-name" type="text" placeholder="请输入您的名字（必填）" required>
                <input id="author_email" class="comment-form-input comment-form-email" type="email" placeholder="请输入您的邮箱（必填）" onblur="verifyEmail(this)" required>
                <input id="author_url" class="comment-form-input comment-form-url" type="text" placeholder="请输入您的网址（可选）">
            </div>
            {% comment %}
            <div class="comment-form-alert"></div>
            <button title="若有回复，您将得到邮件提醒" class="comment-form-submit" onclick="postComment()"><object class="icon icon-send" data-color="rgb(255,0,0)" type="image/svg+xml" data="/assets/svg/send.svg"></object></button>
            发表{% if page.url == '/guestbook.html' %}留言{% else %}评论{% endif %}
            {% endcomment %}
        </div>
    </div>
    <ul id="comments" class="comment-list loading">
    </ul>
</section>

{% comment %}
<div class="comment hide">
    <div id="disqus_thread"></div>
</div>
{% endcomment %}
