<section class="comment{% if page.url == '/guestbook.html' %} guestbook{% endif %}">

    <div class="comment-header">
        <span class="comment-header-item" id="comment-count">评论</span>
        {% comment %}
        <span class="comment-header-item login" onclick="showComments()" title="点击加载 Disqus 评论框">登录 Disqus</span>
        {% endcomment %}
        <span class="comment-header-item" id="comment-author" onclick="editGuest()"></span>
    </div>

    <div class="comment-box">
        <div class="comment-avatar avatar">
            <img class="comment-avatar-image" src="https://a.disquscdn.com/images/noavatar92.png" />
        </div>
        <div class="comment-form">
            <div class="comment-form-wrapper">
                <textarea class="comment-form-textarea" placeholder="{% if page.url == '/guestbook.html' %}写条留言……{% else %}加入讨论……{% endif %}"></textarea>
                <div class="comment-image">
                    <ul class="comment-image-list">
                    </ul>
                    <div class="comment-image-progress">
                        <div class="comment-image-loaded">
                        </div>
                    </div>
                </div>
                <div class="comment-actions">
                    <div class="comment-actions-group">
                        <input class="comment-actions-input" type="checkbox" id="emoji-input"/>
                        <label class="comment-actions-label emojione" for="emoji-input" title="点击选择表情">
                            <object class="icon icon-face" type="image/svg+xml" data="/assets/svg/face.svg"></object>
                            <ul class="emojione-list"></ul>
                        </label>
                        <label class="comment-actions-label" for="upload-input" title="点击上传图片">
                            <object class="icon icon-image" type="image/svg+xml" data="/assets/svg/image.svg"></object>
                        </label>
                        <input class="comment-actions-input comment-image-input" type="file" accept="image/*" name="file" id="upload-input"/>
                    </div>
                    <button class="comment-form-submit">
                        <object class="icon icon-send" data-color="rgb(255,0,0)" type="image/svg+xml" data="/assets/svg/send.svg"></object>
                    </button>
                </div>
            </div>
            <div class="comment-login">
                <input class="comment-form-input comment-form-name" type="text" placeholder="名字（必填）" required>
                <input class="comment-form-input comment-form-email" type="email" placeholder="邮箱（必填）" required>
                <input class="comment-form-input comment-form-url" type="text" placeholder="网址（可选）">
            </div>
        </div>
    </div>
    <ul id="comments" class="comment-list loading">
    </ul>
</section>

{% comment %}
<div class="comment hide">
    <div id="disqus_thread"></div>
</div>
{% endcomment %}
