<section class="wechat-related">
  {% if page.wechat %}
  <div class="wechat-related-item">
    <div class="wechat-related-code wechat-qrcode" id="wechat-qrcode" data-qrcode-url="{{ page.wechat }}"></div>
    <a class="wechat-related-title" href="{{ page.wechat }}" target="_blank">
      {% include svg/wechat.svg %} 公众号文章
    </a>
  </div>
  {% endif %}

  <div class="wechat-related-item">
    <div class="wechat-related-code wechat-paycode"></div>
    <div class="wechat-related-title">
      {% include svg/reward_a.svg %} 赞赏作者
    </div>
  </div>
</section>

<section class="jd-ads" style="display: none">
  <a href="https://u.jd.com/pVmR0m" data-mobile-url="https://u.jd.com/bNW5SV" class="jd-ads-link" target="_blank">
    <img class="jd-ads-image" src="//source.fooleap.org/jdredbag.png">
  </a>
</section>

<section class="post-extend">
  <section class="post-extend-content">
    <h4 class="post-extend-title">最近更新</h4>
    <ul id="recent-posts" class="post-extend-list">
      {% for post in site.posts offset: 0 limit: 5  %}
      <li class="post-extend-item">
        <a class="post-extend-link" href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </section>
  <section class="post-extend-content">
    <h4 class="post-extend-title">猜你喜欢</h4>
    <ul id="random-posts" class="post-extend-list">
    </ul>
  </section>
</section>
