{% if page.description %}
{% assign desc = page.description %}
{% else %}
{% if page.layout == "post" %}
{% assign desc = page.content | split: '</p>' | first | strip_html  %}
{% else %}
{% assign desc = site.description %}
{% endif %}
{% endif %}
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{% if paginator and paginator.page != 1 %}第{{ paginator.page }}页 | {{ site.title }}{% elsif page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.3, user-scalable=no" />
  <meta name="description" content="{{ desc }}" />
  <meta name="keywords" content="{% if page.tags %}{{ page.tags | join: ', '}}{% else %}{{ site.keywords | join: ', ' }}{% endif %}" />
  <meta name="author" content="fooleap" />
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-transform" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="canonical" href="{{ page.url | replace: 'index.html','' | prepend: site.home }}" />
  <link rel="icon" href="/favicon.ico" />
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }} Atom Feed" href="https://blog.fooleap.org/atom.xml" />
  <link rel="stylesheet" href="/assets/main.min.css?v={{ site.time | date: '%s' }}" />
  <script>
    var ua = navigator.userAgent,
      head = document.head,
      site = {
        home: '{{ site.home }}',
        api: '{{ site.api }}',
        img: '{{ site.IMG_PATH }}',
        tongji: '{{ site.tongji }}',
        analytics: '{{ site.analytics }}',
        forum: '{{ site.nickname }}',
        title: "{{ site.title }}"
      },
      page = { 
        layout: '{{ page.layout }}',
        title: '{{ page.title }}',
        url: location.pathname,
        desc: '{{ desc }}',
        id: '{{ page.id }}',
        category: '{{ page.category }}',
        tags: ['{{ page.tags | join: "','" }}']
      },
      browser = { 
        macos: /Mac/i.test(navigator.platform),
        windows: /Win/i.test(navigator.platform),
        mobile: /AppleWebKit.*Mobile.*/i.test(ua),
        wechat: /MicroMessenger/i.test(ua),
      };
  </script>
  <script src="/assets/main.min.js?v={{ site.time | date: '%s' }}"></script>
</head>
