<nav class="navigation">
    <input class="navigation-toggle" type="checkbox" id="menu" />
    <label class="navigation-avatar" for="menu"></label>
    <label class="navigation-label" for="menu"></label>
    <ul class="navigation-list">
        <li class="navigation-item"><a href="/" class="navigation-item-link {% if page.url == '/' %} active{% endif %}">{% include svg/home.svg %}首页</a></li>
        <li class="navigation-item"><a href="/about.html" class="navigation-item-link{% if page.url == '/about.html' %} active{% endif %}">{% include svg/about.svg %}关于</a></li>
        <li class="navigation-item"><a href="/archive.html" class="navigation-item-link{% if page.url == '/archive.html' %} active{% endif %}">{% include svg/archive.svg %}归档</a></li>
        <li class="navigation-item"><a href="/links.html" class="navigation-item-link{% if page.url == '/links.html' %} active{% endif %}">{% include svg/link.svg %}链接</a></li>
        <li class="navigation-item"><a href="/guestbook.html" class="navigation-item-link{% if page.url == '/guestbook.html' %} active{% endif %}">{% include svg/comments.svg %}留言</a></li>
    </ul>
</nav>
