<nav class="navigation">
    <i class="icon-menu"></i>
    <ul class="navigation-list">
        <li class="navigation-item"><a href="/" class="navigation-item-link {% if page.url == '/index.html' %} active{% endif %}">
                {% include svg/home.svg %}
                <span>首页</span></a></li>
        <li class="navigation-item"><a href="/about.html" class="navigation-item-link{% if page.url == '/about.html' %} active{% endif %}">
                {% include svg/about.svg %}
                <span>关于</span></a></li>
        <li class="navigation-item"><a href="/archive.html" class="navigation-item-link{% if page.url == '/archive.html' %} active{% endif %}">
                {% include svg/archive.svg %}
                <span>归档</span></a></li>
        <li class="navigation-item"><a href="/links.html" class="navigation-item-link{% if page.url == '/links.html' %} active{% endif %}">
                {% include svg/link.svg %}
                <span>链接</span></a></li>
        <li class="navigation-item"><a href="/guestbook.html" class="navigation-item-link{% if page.url == '/guestbook.html' %} active{% endif %}">
                {% include svg/comments.svg %}
                <span>留言</span></a></li>
    </ul>
</nav>
