<nav class="navigation">
    <input class="navigation-toggle" type="checkbox" id="menu" />
    <label class="navigation-avatar" for="menu"></label>
    <label class="navigation-mask" for="menu"></label>
    <ul class="navigation-list">
        <li class="navigation-item {% if page.url == '/' %} current{% endif %}">
            <a class="navigation-item-link" href="/">{% include svg/home.svg %}首页</a>
        </li>
        <li class="navigation-item{% if page.url == '/about.html' %} current{% endif %}">
            <a class="navigation-item-link" href="/about.html">{% include svg/about.svg %}关于</a>
        </li>
        <li class="navigation-item{% if page.url == '/archive.html' %} current{% endif %}">
            <a class="navigation-item-link" href="/archive.html">{% include svg/archive.svg %}归档</a>
        </li>
        <li class="navigation-item{% if page.url == '/links.html' %} current{% endif %}">
            <a class="navigation-item-link" href="/links.html">{% include svg/link.svg %}链接</a>
        </li>
        <li class="navigation-item{% if page.url == '/guestbook.html' %} current{% endif %}">
            <a class="navigation-item-link" href="/guestbook.html">{% include svg/comments.svg %}留言</a>
        </li>
    </ul>
</nav>
