<span id="share">
  <canvas id="qrcode"></canvas>
  <a id="wechat" title="分享到微信" data-wechat-url="{{ site.url }}{{ page.url }}" href="javascript:void(0);"><i class="icon-wechat"></i></a>
  <a id="weibo" target="_blank" title="分享到微博" href="http://service.weibo.com/share/share.php?title={{ page.title }} | {{ site.title }} via @{{ site.weibo_username }}&amp;url={{ site.url }}{{ page.url }}&amp;type=3&amp;searchPic=1"><i class="icon-weibo"></i></a>
  <a id="qzone" target="_blank" title="分享到 QQ 空间" href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url={{ site.url }}{{ page.url }}&amp;title={{ page.title }} | {{ site.title }}&amp;summary={% if page.description %}{{ page.description }}{% else %}{% endif %}&amp;site={{ site.url }}"><i class="icon-qzone"></i></a>
  <a id="twitter" target="_blank" title="Share to Twitter" href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&amp;text={{ page.title }} - {{ site.title }}&amp;via={{ site.twitter_username }}"><i class="icon-twitter"></i></a>
  <a id="facebook" target="_blank" title="Share to Facebook" href="http://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url }}&amp;t={{ page.title }} | {{ site.title }}"><i class="icon-facebook-official"></i></a>
  <a id="gplus" target="_blank" title="Share to Google+" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}"><i class="icon-gplus-squared"></i></a>
</span>
