.comment-box{
    display: flex;
    margin: 20px 0;
}
.comment-mode{
    max-width: 640px;
    padding: 5px 0;
    margin: 0 auto;
}
.comment-name{
    height: 24px;
    line-height: 24px;
    padding: 0 5px;
}
.comment-toggle{
    width: 54px;
    height: 24px;
    background-color: #C4DAEA;
    border-radius: 14px;
    padding: 2px;
    box-sizing: border-box;
    cursor: pointer;
    transition: .3s all; 
    position: relative;
}
.comment-swtich{
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    transition: .3s all; 
}
.comment-toggle.disqus{
    background-color: #35A1FB;
    text-align: right;
}
.comment-toggle.disqus .comment-swtich{
    left: 32px;
}
.disqus-loading,
.disqus-loading:after {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin: 2.5px;
}
.disqus-loading {
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 2.5px solid #35A1FB;
  border-right: 2.5px solid #35A1FB;
  border-bottom: 2.5px solid #35A1FB;
  border-left: 2.5px solid #C4DAEA;
  transform: translateZ(0);
  animation: loading 1.1s infinite linear;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.comment {
    max-width: 640px;
    min-height: 40px;
    margin: 5px auto;
    word-wrap: break-word;
    .icon{
        max-width: 22px;
    }
}

.comment * {
    box-sizing: border-box;
}

.comment-header {
    height: 36px;
    line-height: 36px;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(231, 233, 238);
    color: #656c7a;
    .comment-header-item {
        display: inline-block;
        &:hover {
            color: #2a2e2e;
            background-color: transparent;
        }
    }

    .comment-show {
        width: 120px;
        text-align: center;
        position: relative;
        transition: all 0.2s ease-in-out;
        color: rgb(42, 46, 46);
        text-transform: capitalize;
        cursor: pointer;
        display: none;
    }

    .comment-header-count {
        width: 120px;
        text-align: center;
        transition: all 0.2s ease-in-out;
        text-transform: capitalize;
        display: inline-block;
    }

    .comment-header-count:after {
        content: " ";
        display: block;
        height: 2px;
        position: absolute;
        bottom: -2px;
        left: 0px;
        right: 0px;
        background: rgb(46, 159, 255);
    }
}

.anchorBL {
    a:after {
        content: ''!important;
        margin: 0!important;
    }
}

.comment-form {
    position: relative;
}

.placeholder {
    color: rgb(127, 145, 158);
    line-height: 30px;
    font-size: 12px;
    position: absolute;
    top: 7px;
    left: 10px;
    right: 9px;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: text;
    overflow: hidden;
}

.comment-form-wrapper {
    position: relative;
    border: 2px solid rgb(219, 223, 228);
    border-radius: 4px;
}

.comment-actions {
    background: #f6f8f9;
    border-radius: 0 0 2px 2px;
    border-top: solid 2px rgb(219, 223, 228);
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 36px;
    transition: opacity linear .2s;
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;
    .emojione {
        position: absolute;
        width: 36px;
    }
    .icon {
        font-size: 20px;
        margin: 6px;
        display: inline-block;
        line-height: 20px;
        color: #737474;
        cursor: pointer;
    }
    .emojione:hover .icon {
        color: #000;
    }
    .emojione-gallery {
        position: absolute;
        opacity: 0;
        filter: alpha(opacity=0);
        visibility: hidden;
        list-style: none;
        position: absolute;
        width: 125px;
        height: 125px;
        background-color: rgba(255, 255, 255, .96);
        padding: 5px 0 0 5px;
        border-radius: 2px;
        border: solid 2px #c2c6cc;
        top: -125px;
        left: -2px;
        margin-left: 0;
    }
    .emojione-gallery li {
        float: left;
        height: 24px;
        width: 24px;
        margin: 0 5px 5px 0;
    }
    .emojione-gallery img {
        height: 22px;
        width: 22px;
    }
    .emojione:hover .emojione-gallery {
        opacity: 1;
        filter: alpha(opacity=100);
        visibility: visible!important;
    }
}

.comment-form-wrapper.focus {
    border: 2px solid #c2c6cc;
}

.comment-form-textarea {
    display: block;
    border: none;
    overflow: auto;
    color: rgba(42, 46, 46, 1);
    cursor: text;
    resize: none;
    width: 100%;
    height: 44px;
    line-height: 30px;
    font-size: 18px;
    padding: 6px 10px 8px;
    transition: all 0.15s ease-in-out;
    &:focus,
    &.noempty {
        margin-bottom: 36px;
    font-size: 13px;
        height: 74px;
        line-height: 15px;
    }
    &:focus + .comment-actions,
    &.noempty + .comment-actions {
        opacity: 1;
        filter: alpha(opacity=100);
        visibility: visible!important;
    }
    &:focus + .comment-actions {
        border-top: 2px solid #c2c6cc;
    }
}

.comment-input-group {
    display: flex;
}

.guest-form {
    display: flex;
}

.comment-input-checkbox {
    margin: 12px 0 12px 64px;
    word-break: break-word;
    white-space: nowrap;
    line-height: 32px;
    font-size: 13px;
    color: #7f919e;
    input {
        position: relative;
        top: 2px;
    }
}

.comment-list .comment-input-checkbox {
    margin: 12px 0 12px 48px;
}

.comment-form-submit{
    border: none;
    margin: -2px;
    white-space: nowrap;
    border-radius: 0 0 4px;
    font-size: 12px;
    padding: 11px 18px;
    font-weight: 700;
    display: inline-block;
    background: #778289;
    background: rgba(29, 47, 58, .6);
    color: #fff;
    cursor: pointer;
    &:hover {
        background: #606d75;
        background: rgba(29, 47, 58, .7);
        color: #fff;
    }
}

.comment-form-input{
    background-color: rgba(255,255,255,1);
    border: 2px solid #dbdfe4;
    transition: all .2s linear;
    padding: 0 8px;
    margin: 10px 4px;
    border-radius: 4px;
    font-size: 13px;
    height: 32px;
    line-height: 32px;
    flex: 1;
    &:first-child{
        margin-left: 0;
    }
    &:last-child{
        margin-right: 0;
    }
    &:focus {
        border: 2px solid #c2c6cc;
    }
}

.comment-form-alert {
    margin: 12px 0;
    line-height: 32px;
    font-size: 12px;
    color: red;
}

.guest-form-submit,
.guest-form-clear {
    margin-bottom: 0;
}

.guest-form-clear {
    margin-left: 5px;
}

.comment-list,
.comment-list .comment-item-children {
    text-align: left;
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    line-height: 20px;
}

.comment-item-children {
    font-size: 13px;
}
.comment-list.loading {
    background: url(https://a.disquscdn.com/next/embed/assets/img/loader.5cc23909da9c4a9874500d7a85c4125f.gif) center center no-repeat;
    min-height: 100px;
}

.comment-list .comment-item {
    display: flex;
}

.comment-list .comment-item.transparent {
    opacity: .4;
}

.comment-list img {
    display: inline-block;
}

.comment-avatar,
.comment-item-avatar {
    display: block;
    width: 48px;
    height: 48px;
    margin-right: 12px;
}

.comment-avatar img,
.comment-item-avatar img {
    border-radius: 3px;
    width: 48px;
    height: 48px;
}

.comment-list .comment-item-children .comment-item-avatar,
.comment-list .comment-item-children .comment-item-avatar img,
.comment-list .comment-form .comment-item-avatar,
.comment-list .comment-form .comment-item-avatar img {
    width: 36px;
    height: 36px;
}

.comment-list p {
    margin: 0;
}

.comment-list a:after {
    display: none;
}

.comment-list .moderator {
    color: #fff;
    background: #7f919e;
    padding: 2px 3px;
    margin-left: 3px;
    border-radius: 3px;
    display: inline-block;
}

.comment-list a[href="javascript:void(0);"] {
    color: #000;
    cursor: default;
}

.comment-list .comment-item-content {
    min-height: 40px;
    padding-bottom: 10px;
    font-size: 13px;
    .comment-item-content {
       min-height: 20px;
    }
    >*{
        margin: 0;
    }
    .emojione {
        width: 22px;
        height: 22px;
        margin: 0 3px;
    }
}

.comment-list .comment-form-textarea {
    height: 32px;
    padding: 6px;
}

.comment-list .comment-form-textarea:focus,
.comment-list .comment-form-textarea.noempty {
    height: 72px;
    margin-bottom: 36px;
}

.comment-item-image{
    max-width: 100%;
}

.comment-list .comment-item-children .comment-item-children .comment-item-children .comment-item-children {
    margin-left: -48px;
}

.comment-item-header {
    line-height: 1;
}

.comment-item-header a {
    color: rgb(0, 149, 221);
    text-decoration: none;
    font-weight: 700;
}

.bullet {
    padding: 0;
    color: #c2c6cc;
    line-height: 1.4;
}

.timeago {
    color: #7f919e;
    font-weight: 500;
    word-spacing: -2px;
}

.task-list-item {
    list-style-type: none;
    margin-left: -15px;
}

@media screen and (max-width: 640px) {
    .comment-list .comment-item-children .comment-item-children,
    .comment-list .comment-item-children .comment-form {
        margin-left: 0;
    }
    .comment-input-group {
        display: block;
    }
    .comment-form-input,
    .guest-form input {
        margin: 12px 0 0 0;
        width: 100%;
        display: block;
    }
}
