@charset "utf-8";
.comment.guestbook .comment-header{
    display: none;
}
.comment-box{
    display: flex;
    margin: 20px 0;
}
.comment-mode{
    padding: 5px 0;
    margin: 0 auto;
}
.comment-name{
    height: 24px;
    line-height: 24px;
    padding: 0 5px;
}
.comment-toggle{
    width: 54px;
    height: 24px;
    background-color: #c4daea;
    border-radius: 14px;
    padding: 2px;
    box-sizing: border-box;
    cursor: pointer;
    transition: .3s all; 
    position: relative;
}
.comment-swtich{
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    transition: .3s all; 
}
.comment-toggle.disqus{
    background-color: #35a1fb;
    text-align: right;
}
.comment-toggle.disqus .comment-swtich{
    left: 32px;
}

.comment {
    min-height: 40px;
    margin: 5px auto;
    word-wrap: break-word;
    .icon{
        max-width: 20px;
    }
}

.comment-header {
    height: 36px;
    line-height: 36px;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(231, 233, 238);
    color: #656c7a;
    .comment-header-item {
        display: inline-block;
        border-bottom: 2px solid #656c7a;
        margin-bottom: -2px;
        &:hover {
            color: #2a2e2e;
            background-color: transparent;
        }
    }

    .comment-show {
        width: 120px;
        text-align: center;
        position: relative;
        transition: all 0.2s ease-in-out;
        color: rgb(42, 46, 46);
        text-transform: capitalize;
        cursor: pointer;
        display: none;
    }

    .comment-header-count {
        width: 120px;
        text-align: center;
        transition: all 0.2s ease-in-out;
        text-transform: capitalize;
        display: inline-block;
    }

    .comment-header-count:after {
        content: " ";
        display: block;
        height: 2px;
        position: absolute;
        bottom: -2px;
        left: 0px;
        right: 0px;
        background: rgb(46, 159, 255);
    }
}

.comment-form {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.placeholder {
    color: rgb(127, 145, 158);
    line-height: 30px;
    font-size: 12px;
    position: absolute;
    top: 7px;
    left: 10px;
    right: 9px;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: text;
    overflow: hidden;
}

.comment-form-wrapper {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(219, 223, 228);
    border-radius: 4px;
    width: 100%;
}

.comment-actions {
    background: #f6f8f9;
    border-radius: 0 0 2px 2px;
    display: flex;
    justify-content: space-between;
    height: 0;
    transition: opacity linear .2s;
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;
    .comment-actions-group{
        display: flex;
    }
    .comment-actions-input{
        display: none;
    }
    .comment-actions-label{
        display: inline-block;
        position: relative;
        width: 34px;
        height: 34px;
        cursor: pointer;
        &:before{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: "";
            z-index: 1;
        }
    }
    .exit {
        display:none;
    }
    .icon {
        height: 18px;
        margin: 8px;
        display: inline-block;
        color: #737474;
        cursor: pointer;
    }
    .icon-send{
        margin: 9px;
        cursor: pointer;
    }
    .emojione-list {
        position: absolute;
        opacity: 0;
        filter: alpha(opacity=0);
        visibility: hidden;
        list-style: none;
        width: 125px;
        height: 125px;
        background-color: rgba(255, 255, 255, .96);
        padding: 5px 0 0 5px;
        border-radius: 2px;
        border: 2px solid #c2c6cc;
        top: -125px;
        left: -2px;
        margin-left: 0;
        display: flex;
        flex-wrap: wrap;
    }
    .emojione-item {
        position: relative;
        height: 24px;
        width: 24px;
        margin: 0 5px 5px 0;
        &:before{
            content: "";
            display: inline-block;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            z-index:4;
        }
    }
    .emojione-item-image {
        height: 22px;
        width: 22px;
    }
    .comment-actions-input[type="checkbox"]:checked + .emojione .emojione-list {
        opacity: 1;
        filter: alpha(opacity=100);
        visibility: visible!important;
    }
}

.expanded .comment-image{
    display: flex;
    .comment-image-progress{
        position: relative;
        height: 80px;
        width: 0;
        background: url("https://a.disquscdn.com/next/embed/assets/img/loader.5cc23909da9c4a9874500d7a85c4125f.gif") center no-repeat;
        margin: 0 5px;
        overflow: hidden;
        &:before{
            position: absolute;
            content: "";
            display: block;
            top: 55px;
            bottom: 20px;
            left: 0;
            right: 0;
            height: 5px;
            width: 100%;
            background-color: rgba(219,223,228,1);
        }
        .comment-image-loaded{
            position: absolute;
            background-color: rgba(127,145,158,1);
            top: 55px;
            left: 0;
            right: 0; 
            bottom: 20px;
            height: 5px;
            width: 0;
        }
    }

    .comment-image-list{
        list-style: none;
        display: flex;
    }

    .comment-image-item{
        height: 80px;
        margin-left:5px;
        .comment-image-object{
            height: 100%;
            border-radius: 3px;
            overflow: hidden;
        }
        &.loading{
            .comment-image-object{
                width: 20px;
                margin: 0 30px;
            }
        }
    }
}


.comment-form-wrapper {
    &.editing{
        + .comment-login{
            opacity: 1;
            height: auto;
            margin-top: 10px;
        }
        .comment-form-textarea {
            font: 13px/15px "Helvetica Neue", Helvetica, Arial,"微软雅黑","Microsoft YaHei";
            height: 74px;
        }
        .comment-image{
            transition: padding-bottom .15s ease-in-out;
            background-color: rgba(16,48,68,.03);
        }
        .comment-actions {
            transition: all 0.2s ease-in-out;
            border-top: solid 2px rgb(219, 223, 228);
            opacity: 1;
            height: 36px;
            filter: alpha(opacity=100);
            visibility: visible!important;
        }
        .comment-form-submit{
            transition: all .3s .5s;
            margin: 87px -2px -2px;
            opacity:1;
        }
    }
    &.focus{
        border: 2px solid #c2c6cc;
        .comment-actions {
            border-top: 2px solid #c2c6cc;
        }
        &.expanded .comment-image {
            border-top: 2px solid #c2c6cc;
        }
    }
    &.expanded{
        .comment-image{
            border-top: 2px solid #dbdfe4; 
            padding: 10px 0 8px; 
        }
    }
    &.logged-in{
        .comment-form-submit{
            margin: -2px;
            border-radius: 0 0 4px;
            transition: none;
            opacity:1;
        }
        + .comment-login{
            height: 0;
            opacity: 0;
            margin-top: -40px;
        }
        .exit {
            display: block;
        }
    }
    .comment-form-textarea {
        width: 100%;
        display: block;
        border: none;
        overflow: auto;
        color: rgba(42, 46, 46, 1);
        cursor: text;
        resize: none;
        height: 44px;
        font: 18px/30px "Helvetica Neue", Helvetica, Arial,"微软雅黑", "Microsoft YaHei";
        padding: 7px;
        transition: all .2s ease-in-out;
    }
}

.comment-actions-form{
    display: flex;
    .comment-form-submit{
        position: relative;
        z-index: 1;
        border: none;
        opacity: 0;
        margin: 40px -2px -2px;
        white-space: nowrap;
        border-radius: 4px;
        height: 38px;
        width: 80px;
        display: inline-block;
        background-color: rgba(29,47,58,.6);
        cursor: pointer;
        line-height: 38px;
        &:before{
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            content: "";
            display: inline-block;
            z-index: 2;
        }
        &:hover {
            background-color: rgba(29, 47, 58,.75);
        }
    }
}

.comment-login {
    display: flex;
    opacity: 0;
    transition: all .5s .2s;
    height: 0;
    margin: -40px -5px 40px;
    overflow: hidden;
    flex-wrap: wrap;
    .comment-form-input{
        background-color: rgba(255,255,255,1);
        border: 2px solid #dbdfe4;
        transition: all .2s linear;
        padding: 0 10px;
        border-radius: 4px;
        font-size: 13px;
        height: 32px;
        margin: 0 5px;
        width: 30px; 
        line-height: 32px;
        flex: auto;
        &:focus {
            border: 2px solid #c2c6cc;
        }
    }
}


.comment-form-alert {
    margin: 12px 0;
    line-height: 32px;
    font-size: 12px;
    color: red;
}

.comment-list,
.comment-item-children {
    text-align: left;
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    line-height: 20px;
}

.comment-avatar,
.comment-item-avatar {
    display: block;
    width: 48px;
    height: 48px;
    margin-right: 12px;
}
.comment-avatar img,
.comment-item-avatar img {
    border-radius: 3px;
    width: 48px;
    height: 48px;
}

@keyframes disqus-loader-spinner-animation{
    0%{transform:rotate(0)}
    100%{transform:rotate(360deg)}
}

.comment-list {
    &.loading{
        position: relative;
        background:url(https://a.disquscdn.com/next/embed/assets/img/loader-bg.173909e4737a7481df14d5492b5eeb48.png) no-repeat!important;
        display: block;
        height: 52px;
        width: 54px;
        margin: 20px auto;
        overflow: hidden;
        box-sizing: border-box;
        &:after{
            content: "";
            display:block;
            box-sizing: border-box;
            width: 26px;
            height: 26px;
            position: absolute;
            top: 13px;
            left: 15px;
            border-width: 3px;
            border-style: solid;
            border-color: rgba(51, 54, 58, 0.4) transparent;
            border-radius: 13px;
            transform-origin: 50% 50% 0px;
            animation:disqus-loader-spinner-animation .7s infinite linear!important
        }
    }
    .comment-item-children {
        font-size: 13px;
    }
    p {
        margin: 0;
    }
    a[href="javascript:void(0);"] {
        color: #000;
        cursor: default;
    }
    .comment-item {
        display: flex;
        margin-bottom: 10px;
        .comment-item {
            margin-bottom: 0;
        }
    }
    .comment-item-header {
        line-height: 1;
        color: #c2c6cc;
        .comment-item-time {
            color: #7f919e;
            word-spacing: -2px;
            font-weight: 500;
        }
        .comment-item-name,
        .comment-item-cancel{
            color: rgba(0, 149, 221, 1);
            font-weight: 700;
        }
        .comment-item-reply{
            color: #656c7a;
            font-weight: 500;
        }
    }
    .comment-item-images{
        display: flex;
        margin: 0 -5px;
        flex-wrap: wrap;
        .comment-item-imagelink{
            height: 100px;
            margin: 0 5px;
        }
        .comment-item-image{
            height: 100%;
        }
    }
    .comment-item.transparent {
        opacity: .4;
    }
    .comment-item-content {
        min-height: 40px;
        padding: 5px 0;
        font-size: 13px;
        .at{
            padding-right: 4px;
        }
        .comment-item-content {
            min-height: 20px;
        }
        img.emojione {
            width: 22px;
            height: 22px;
            margin: 0 3px;
        }
    }
    .comment-box{
        margin: 10px 0;
    }
    .comment-item-children .comment-item-avatar,
    .comment-item-children .comment-item-avatar img,
    .comment-avatar, .comment-avatar-image {
        width: 36px;
        height: 36px;
    }
    .comment-form-textarea {
        height: 32px;
        padding: 5px;
        line-height: 22px;
        font-size: 15px;
    }
    .comment-item-main{
        flex: 1;
    }
    
    .comment-item-children .comment-item-children .comment-item-children .comment-item-children,
    .comment-item-children .comment-item-children .comment-item-children .comment-box {
        margin-left: -48px;
    }
}



.task-list-item {
    list-style-type: none;
    margin-left: -15px;
}

@media screen and(max-width: 450px) {
    .comment-item{
        .comment-item-children .comment-item-children,
        .comment-item-children .comment-box {
            margin-left: 0!important;
        }
        .at{
            display: none;
        }
        .comment-item-children .comment-item-avatar{
            display: none;
        }
        .comment-avatar{
            display: none;
        }
    }

}
