@charset "utf-8";
@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?85569446');
  src: url('../fonts/fontello.eot?85569446#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff?85569446') format('woff'),
       url('../fonts/fontello.ttf?85569446') format('truetype'),
       url('../fonts/fontello.svg?85569446#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?85569446#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-star:before { content: '\e800'; } /* '' */
.icon-star-empty:before { content: '\e801'; } /* '' */
.icon-heart-empty:before { content: '\e802'; } /* '' */
.icon-heart:before { content: '\e803'; } /* '' */
.icon-music:before { content: '\e804'; } /* '' */
.icon-search:before { content: '\e805'; } /* '' */
.icon-user:before { content: '\e806'; } /* '' */
.icon-picture:before { content: '\e807'; } /* '' */
.icon-camera:before { content: '\e808'; } /* '' */
.icon-home:before { content: '\e809'; } /* '' */
.icon-link:before { content: '\e80a'; } /* '' */
.icon-unlink:before { content: '\e80b'; } /* '' */
.icon-link-ext:before { content: '\e80c'; } /* '' */
.icon-attach:before { content: '\e80d'; } /* '' */
.icon-eye:before { content: '\e80e'; } /* '' */
.icon-tags:before { content: '\e80f'; } /* '' */
.icon-tag:before { content: '\e810'; } /* '' */
.icon-thumbs-up:before { content: '\e811'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e812'; } /* '' */
.icon-code:before { content: '\e813'; } /* '' */
.icon-comment:before { content: '\e814'; } /* '' */
.icon-chat:before { content: '\e815'; } /* '' */
.icon-comment-empty:before { content: '\e816'; } /* '' */
.icon-chat-empty:before { content: '\e817'; } /* '' */
.icon-location:before { content: '\e818'; } /* '' */
.icon-doc-text:before { content: '\e819'; } /* '' */
.icon-doc-inv:before { content: '\e81a'; } /* '' */
.icon-doc-text-inv:before { content: '\e81b'; } /* '' */
.icon-file-code:before { content: '\e81c'; } /* '' */
.icon-menu:before { content: '\e81d'; } /* '' */
.icon-volume-off:before { content: '\e81e'; } /* '' */
.icon-volume-down:before { content: '\e81f'; } /* '' */
.icon-volume-up:before { content: '\e820'; } /* '' */
.icon-down-open:before { content: '\e821'; } /* '' */
.icon-left-open:before { content: '\e822'; } /* '' */
.icon-up-open:before { content: '\e823'; } /* '' */
.icon-right-open:before { content: '\e824'; } /* '' */
.icon-angle-left:before { content: '\e825'; } /* '' */
.icon-angle-right:before { content: '\e826'; } /* '' */
.icon-angle-up:before { content: '\e827'; } /* '' */
.icon-angle-down:before { content: '\e828'; } /* '' */
.icon-angle-circled-left:before { content: '\e829'; } /* '' */
.icon-angle-circled-right:before { content: '\e82a'; } /* '' */
.icon-angle-circled-up:before { content: '\e82b'; } /* '' */
.icon-angle-circled-down:before { content: '\e82c'; } /* '' */
.icon-down-big:before { content: '\e82d'; } /* '' */
.icon-left-big:before { content: '\e82e'; } /* '' */
.icon-right-big:before { content: '\e82f'; } /* '' */
.icon-up-big:before { content: '\e830'; } /* '' */
.icon-stop:before { content: '\e831'; } /* '' */
.icon-pause:before { content: '\e832'; } /* '' */
.icon-play:before { content: '\e833'; } /* '' */
.icon-facebook-squared:before { content: '\e834'; } /* '' */
.icon-facebook-official:before { content: '\e835'; } /* '' */
.icon-qq:before { content: '\e836'; } /* '' */
.icon-wechat:before { content: '\e837'; } /* '' */
.icon-weibo:before { content: '\e838'; } /* '' */
.icon-twitter:before { content: '\e839'; } /* '' */
.icon-download:before { content: '\e83a'; } /* '' */
.icon-mail-squared:before { content: '\e83b'; } /* '' */
.icon-twitter-squared:before { content: '\e83c'; } /* '' */
.icon-mail-alt:before { content: '\e83d'; } /* '' */
.icon-mail:before { content: '\e83e'; } /* '' */
.icon-cancel:before { content: '\e83f'; } /* '' */
.icon-cancel-circled:before { content: '\e840'; } /* '' */
.icon-cancel-circled2:before { content: '\e841'; } /* '' */
.icon-calc:before { content: '\e842'; } /* '' */
.icon-github-circled:before { content: '\e843'; } /* '' */
.icon-github-squared:before { content: '\e844'; } /* '' */
.icon-github:before { content: '\e845'; } /* '' */
.icon-gplus-squared:before { content: '\e846'; } /* '' */
.icon-gplus:before { content: '\e847'; } /* '' */
.icon-google:before { content: '\e848'; } /* '' */
.icon-qzone:before { content: '\e849'; } /* '' */
.icon-uniE61F:before { content: '\e84a'; } /* '' */
.icon-box:before { content: '\e84b'; } /* '' */
.icon-folder:before { content: '\e84c'; } /* '' */
.icon-folder-open:before { content: '\e84d'; } /* '' */
