@charset "utf-8";
// media queries
@media screen and (min--moz-device-pixel-ratio:0) {
    body {
        font: 14px/1.6 "Helvetica Neue", Helvetica, Arial, "微软雅黑", "Microsoft YaHei", sans-serif;
    }
}
@media screen and(max-width: 450px) {
    body{
       background-color: #fff;
    }
    .navigation {
        top: 8px;
        right: 8px;
    }
    .page-main{
        margin: 0;
        padding: 20px 0;
        box-shadow: none;
        .page-title {
            padding: 7px;
        }
        .page-subtitle{
            font-size: 11px;
            padding: 0 7px;
        }
        .page-content{
            padding: 0 7px;
        }
        .video{
            margin: 0 -7px;
        }
        .post-figure{
            margin: 0 -7px;
            .post-image-exif{
                font-size: 10px;
                line-height: 20px;
                height: 20px;
            }
            .post-figcaption{
                padding: 0 7px;
            }
        }
        .post-share {
            display: none;
        }
        .comment-header{
            margin: 0 -7px;
        }
    }
}
