@charset "utf-8";
$darkblue: rgb(0, 149, 221);
$darkgray: rgb(100, 100, 100);
$lightblue: rgb(155, 195, 255);
$lightgray: rgb(235, 235, 235);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$default: rgb(34, 34, 34);
// Utility
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
strong,
b {
    font-weight: bold;
    color: rgb(0, 0, 0);
}

iframe {
    border: none;
    width: 100%;
    max-width: 640px;
}

:focus{
    outline: none;
}

video {
    width: 100%;
    max-width: 640px;
    margin: 0!important;
}

html {
    min-height: 100%;
}

body {
    zoom: 1;
    letter-spacing: .03em;
    font: 14px/1.6 "Helvetica Neue", Helvetica, Arial,"微软雅黑",'Microsoft YaHei';
    color: $default;
    background-color: rgba(196, 218, 234, .8);
    overflow-y: scroll;
}

.page-main{
    display: block;
    background-color: rgba(255,255,255,1);
    max-width: 768px;
    padding: 48px 64px;
    margin: 32px auto;
    position: relative;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .06);
    text-align: justify;
    text-justify: ideographic;
    word-break: break-all;
    word-wrap: break-word;
    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        transform: skew(3deg, 2deg);
        box-shadow: 0 15px 10px rgba(0, 0, 0, 0.2);
        height: 100px;
        bottom: 15px;
        right: 3px;
        width: 250px;
    }
    a {
        color: $darkblue;
        position: relative;
        &:hover:before {
            content: "";
            display: inline-block;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 2px;
            border-bottom: 1px dashed $darkblue;
        }
    }
}

img[data-onload="true"] {
    background-color: transparent!important;
}

.page-header {
    .page-title {
        line-height: 1.2;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #e7e7eb;
        font-weight: 400;
        font-size: 24px;
    }
    .page-subtitle {
        color: rgb(150, 150, 150);
        font-weight: 300;
        width: 100%;
        font-size: 13px;
    }
    .post-time {
        word-spacing: -1px;
    }
}

.page-footer {
    text-align: center;
    color: rgba(150, 150, 150, .9);
}

.post-item {
    display: flex;
    margin: 20px 0;
    .post-item-thumb {
        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 4px;
        transition: all .5s;
    }
    .post-item-comment {
        display: block;
        margin: auto;
        text-decoration: none;
        text-align: center;
        color: $white;
        font: 600 13px/18px "Helvetica Neue",Helvetica, Arial;
        border-radius: 10px;
        width: 30px;
        height: 18px;
        opacity: 0;
        transition: .5s all;
        &:not(:empty) {
            background-color: rgb(150, 215, 245);
            opacity: 1;
        }
        &:hover {
            background-color: $darkblue;
        }
    }
}
.post-item-summary {
    margin: 0 10px;
    flex: 1;
    height: 50px;
    line-height: 25px;
    .post-item-title {
        overflow: hidden;
        font-weight: normal;
        margin: 0;
    }
    .post-item-date {
        color: rgba(150, 150, 150, .9);
        opacity: 0;
        font-size: 13px;
        transition: .5s all;
        &:not(:empty) {
            opacity: 1;
        }
    }
}

// Pagination
.pagination ul {
    max-width: 640px;
    margin: 10px auto;
    font-size: 13px;
    list-style-type: none;
    overflow: hidden;
    padding: 0 5px;
    &:after {
        clear: both;
    }
    &:before,
    &:after {
        display: table;
        content: '';
    }
    .disable {
        color: $white;
    }
    a {
        border: none;
        color: $darkgray;
        height: 20px;
        line-height: 20px;
    }
    li {
        display: inline-block;
        float: left;
    }
    .number {
        color: $white;
        width: 40%;
        text-align: center;
    }
    .newer {
        width: 30%;
        text-align: right;
    }
    .older {
        width: 30%;
        text-align: left;
    }
}

// Post
.post-content {
    >*{
        margin: 18px 0;
    }
    h2 {
        border-left: 4px solid $darkblue;
        font-size: 16px;
        padding-left: 5px;
    }
    h3 {
        font-size: 14px;
    }
    blockquote {
        font-size: 13px;
        padding: 5px 10px;
        opacity: .6;
        border-left: 5px solid $darkgray;
        overflow: hidden;
    }
    ul,
    ol {
        margin-left: 15px;
        padding-left: 20px;
    }
    .post-figure {
        max-width: 640px;
        position: relative;
        overflow: hidden;
        .post-image-exif {
            position: absolute;
            top: 0;
            left: 0;
            transition: opacity .5s;
            opacity: 0;
            background-color: $black;
            width: 100%;
            height: 25px;
            font: 13px/25px "Helvetica Neue", Helvetica, Arial;
            padding: 0 3px;
            color: $white;
            overflow: hidden;
        }
        &:hover {
            .post-image-exif {
                opacity: .7;
            }
        }
        .post-image {
            cursor: zoom-in;
            display: block;
            max-width: 100%;
            width: auto;
            overflow: hidden;
        }
    }
    table {
        font-size: 12px;
        text-align: left;
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        th {
            font-weight: bold;
            padding: 10px 9px;
            color: rgb(51, 51, 51);
            border: 1px solid rgb(194, 196, 197);
            background: rgb(228, 230, 232);
        }
        td {
            padding: 7px 8px;
            color: rgb(79, 51, 51);
            border: 1px solid rgb(194, 196, 197);
            background: rgb(249, 249, 249);
        }
    }
}

// TOC
#toc {
    position: fixed;
    left: -999px;
    top: 30px;
    margin: 0;
    min-width: 160px;
    background: $white;
    list-style: none;
    padding: 5px;
    &.hide {
        display: none;
    }
    &:before {
        content: '目录';
        font-size: 13px;
        font-weight: 600;
        line-height: 30px;
        height: 30px;
    }
    li {
        line-height: 30px;
        a {
            display: inline-block;
            width: 100%;
            color: $default;
            font-size: 12px;
            text-decoration: none;
            text-indent: 5px;
            border: none;
            &:hover {
                background: none;
                font-weight: 600;
            }
        }
        .active {
            background: $lightgray;
            border-radius: 3px;
        }
        .active:hover {
            background: $lightgray;
        }
        li {
            margin-left: 10px;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            a {
                font-size: 12px;
                line-height: 25px;
            }
        }
    }
}

pre,
code {
    font-size: 12px;
    font-family: NSimsun, Consolas, sans-serif;
    background-color: $lightgray;
    overflow: auto;
    padding: 5px 10px;
    word-wrap: break-word;
    white-space: pre-wrap;
    border-radius: 3px;
}

code {
    padding: 1px 5px;
}

pre code {
    display: inline;
    max-width: initial;
    line-height: inherit;
    margin: 0;
    padding: 0;
    border: 0;
}

pre.terminal {
    color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
}

pre.terminal code {
    background-color: rgb(50, 50, 50);
}

.post-extend {
    display: flex;
    .post-extend-content {
        flex: 1;
        .post-extend-list {
            margin-left: 15px;
            height: 135px;
            white-space: nowrap;
            overflow: hidden;
        }
    }
}

.post-info {
    line-height: 20px;
    height: 20px;
    overflow: hidden;
    margin: 0;
    display: flex;
    justify-content: space-between;
    a:before,
    a:after {
        display: none!important;
    }
}

.post-tags {
    .tags {
        list-style: none;
        display: inline;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    .icon-tags{
        width: 20px;
        margin-bottom: -5px;
    }
    .tag {
        display: inline-block;
        padding-right: 5px;
        position: relative;
        text-decoration: none;
    }
    a {
        color: $white!important;
        background: $darkgray;
        border-radius: 2px;
        padding: 2px 3px;
        font-size: 12px;
    }
}

.view-code {
    cursor: pointer;
}

// Share
.post-share {
    line-height: 1.2;
    margin: 0;
    .share-item{
        width: 20px;
        height: 20px;
        margin: 0 2px;
        border: none;
        display: inline-block;
        position: relative;
        color: rgb(51, 51, 51);
        &:after {
            display: inline-block!important;
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0;
        }
        object{
            width: 100%;
        }
    }
    #wechat {
        &:hover,
        &.light {
            color: rgb(81, 195, 50);
        }
    }
    #weibo {
        &:hover {
            color: rgb(231, 44, 64);
        }
    }
    #qzone {
        &:hover {
            color: rgb(252, 185, 32);
        }
    }
    #twitter {
        &:hover {
            color: rgb(85, 172, 238);
        }
    }
    #facebook {
        &:hover {
            color: rgb(65, 93, 152);
        }
    }
    #gplus {
        &:hover {
        }
    }
    #qrcode {
        display: none;
        position: absolute;
        bottom: 30px;
        right: 80px;
        background: $white;
        padding: 5px;
        border: 1px solid $lightgray;
        border-radius: 5px;
        box-shadow: 1px 1px 2px rgb(150, 150, 150);
    }
}
