@charset "utf-8";
$lightblue: rgb(125, 185, 222);
$darkblue: rgb(46, 169, 223);
$lightgray: rgb(150, 150, 150);
$darkgray: rgb(67, 67, 67);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$default: rgb(34, 34, 34);

// Utility
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
strong,
b {
    font-weight: bold;
    color: $black;
}

iframe {
    border: none;
    width: 100%;
    max-width: 640px;
}

:focus{
    outline: none;
}

abbr[title]{
    text-decoration: none;
}

video {
    width: 100%;
    max-width: 640px;
    margin: 0!important;
}

html {
    min-height: 100%;
}

body {
    letter-spacing: .03em;
    color: $default;
    background-color: $lightblue;
    overflow-y: scroll;
    font: 14.5px/1.6 "Helvetica Neue", Helvetica, Arial, "Source Han Sans CN", "黑体", SimHei, sans-serif;
}

.page-main{
    display: block;
    background-color: $white;
    max-width: 768px;
    width: 100%;
    padding: 48px 64px;
    margin: 32px auto;
    position: relative;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .06);
    text-align: justify;
    text-justify: ideographic;
    word-break: break-all;
    word-wrap: break-word;
    a {
        color: $darkblue;
        &:hover{
            border-bottom: 1px dashed $darkblue;
        }
        &:target{
            background-color: $lightgray;
        }
    }
    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        transform: skew(3deg, 2deg);
        box-shadow: 0 15px 10px rgba(0, 0, 0, 0.2);
        height: 100px;
        bottom: 15px;
        right: 3px;
        width: 250px;
    }
    table {
        font-size: 12px;
        text-align: left;
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        th {
            font-weight: bold;
            padding: 10px 9px;
            color: rgb(51, 51, 51);
            border: 1px solid rgb(194, 196, 197);
            background: rgb(228, 230, 232);
        }
        td {
            padding: 7px 8px;
            color: rgb(79, 51, 51);
            border: 1px solid rgb(194, 196, 197);
            background: rgb(249, 249, 249);
        }
    }
}


.page-header {
    .page-title {
        line-height: 1.2;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #e7e7eb;
        font-weight: 400;
        font-size: 24px;
        .page-title-link {
            color: $black;
            border-bottom: none;
        }
    }
    .page-subtitle {
        color: $lightgray;
        font-weight: 300;
        width: 100%;
        font-size: 13px;
    }
    .post-time {
        word-spacing: -1px;
    }
}

.page-footer {
    text-align: center;
    color: $lightgray;
}

.post-item {
    display: flex;
    margin: 20px 0;
    .post-item-thumb {
        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 4px;
        transition: all .5s;
    }
    .post-item-summary {
        margin: 0 10px;
        flex: 1;
        height: 50px;
        line-height: 25px;
        .post-item-title {
            font-size: 14.5px;
            color: $darkblue;
            font-weight: normal;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
        }
        .post-item-date {
            color: $lightgray;
            opacity: 0;
            font-size: 13px;
            transition: .5s all;
            &:not(:empty) {
                opacity: 1;
            }
        }
    }
    .post-item-comment {
        display: block;
        margin: auto;
        text-decoration: none;
        text-align: center;
        color: $white;
        font: 600 14px/18px "Helvetica Neue",Helvetica, Arial;
        border-radius: 10px;
        width: 30px;
        height: 18px;
        opacity: 0;
        transition: .5s all;
        &:not(:empty) {
            background-color: rgb(150, 215, 245);
            opacity: 1;
        }
        &:hover {
            background-color: $darkblue;
            border-bottom: none;
        }
    }
}

// Pagination
.pagination-list {
    margin: 10px auto;
    font-size: 13px;
    list-style-type: none;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    height: 30px;
    line-height: 30px;
    color: $darkgray;
    text-align: center;
    .pagination-item:first-child,
    .pagination-item:last-child{
        width: 120px;
    }
    .pagination-item:first-child{
        text-align: left;
    }
    .pagination-item:last-child{
        text-align: right;
    }
    .pagination-item-link {
        color: $darkgray;
        &:hover{
            border-bottom-color: $darkgray;
        }
    }
}

// Post
.post-content {
    ul,
    ol {
      margin-left: 15px;
    }
    >*{
        margin: 18px 0;
    }
    h2 {
        border-left: 4px solid $darkblue;
        font-size: 16px;
        padding-left: 5px;
    }
    h3 {
        font-size: 14px;
    }
    blockquote {
        font-size: 13px;
        padding: 5px 10px;
        opacity: .6;
        border-left: 5px solid $darkgray;
        overflow: hidden;
    }
    .post-figure {
        max-width: 640px;
        position: relative;
        overflow: hidden;
        .post-image-exif {
            position: absolute;
            top: 0;
            left: 0;
            transition: opacity .5s;
            opacity: 0;
            background-color: $black;
            width: 100%;
            height: 25px;
            font: 13px/25px "Helvetica Neue", Helvetica, Arial;
            padding: 0 3px;
            color: $white;
            overflow: hidden;
        }
        &:hover {
            .post-image-exif {
                opacity: .7;
            }
        }
        .post-image {
            cursor: zoom-in;
            display: block;
            max-width: 100%;
            width: auto;
            overflow: hidden;
        }
        .post-figcaption{
            font-size: 14px;
        }
    }
}

// TOC
.post-toc {
    position: fixed;
    left: -999px;
    top: 30px;
    margin: 0;
    min-width: 160px;
    background: $white;
    list-style: none;
    padding: 5px;
    &.hide {
        display: none;
    }
    &:before {
        content: '目录';
        font-size: 13px;
        font-weight: 600;
        line-height: 30px;
        height: 30px;
    }
    li {
        line-height: 30px;
        a {
            display: inline-block;
            width: 100%;
            color: $default;
            font-size: 12px;
            text-indent: 5px;
            &:hover {
                border-radius: 3px;
                background: rgb(230, 230, 230);
                border-bottom: none;
            }
        }
        .active {
            background: rgb(230, 230, 230);
            border-radius: 3px;
        }
        li {
            margin-left: 10px;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            a {
                font-size: 12px;
                line-height: 25px;
            }
        }
    }
}

pre,
code {
    font-size: 12px;
    font-family: Consolas, sans-serif;
    background-color: rgb(230, 230, 230);
    overflow: auto;
    padding: 5px 10px;
    word-wrap: break-word;
    white-space: pre-wrap;
    border-radius: 3px;
}

code {
    padding: 1px 5px;
}

pre {
    code {
        display: inline;
        max-width: initial;
        line-height: inherit;
        margin: 0;
        padding: 0;
        border: 0;
    }
    &.terminal {
        color: $white;
        border: 1px solid $black;
        border-radius: 3px;
    }
    &.terminal code {
        background-color: $lightgray;
    }
}

.flow svg{
    max-width: 100%;
    height: 100%;
}

.post-extend {
    display: flex;
    .post-extend-content {
        flex: 1;
        width: 50%;
        .post-extend-list {
            padding: 10px 0 10px 10px;
            list-style: none;
        }
        .post-extend-item {
            margin: 2px 0;
            height: 20px;
            overflow: hidden;
        }
        .post-extend-link {
            display: inline-block;
            line-height: 20px;
            height: 20px;
            color: $darkblue;
        }
    }
}

.post-info {
    line-height: 20px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    .icon{
        height: 20px;
        width: 20px;
    }
    .post-tags {
        display: flex;
        .post-tag-list {
            list-style: none;
            display: flex;
        }
        .post-tag-item {
            margin-left: 5px;
        }
        .post-tag-link {
            color: $white!important;
            background: $darkgray;
            border-radius: 2px;
            border-bottom: none;
            padding: 2px 3px;
            font-size: 12px;
        }
    }
    // Share
    .post-share {
        display: flex;
        position: relative;
        .post-share-item{
            width: 20px;
            height: 20px;
            margin: 0 3px;
            color: rgb(51, 51, 51);
            cursor: pointer;
            &:hover{
                border-bottom: none;
            }
        }
        .icon{
            transition: all .3s;
        }
        .wechat:hover .icon {
            fill: rgb(81, 195, 50);
        }
        .weibo:hover .icon {
            fill: rgb(231, 44, 64);
        }
        .qzone:hover .icon {
            fill: rgb(252, 185, 32);
        }
        .twitter:hover .icon{
            fill: rgb(85, 172, 238);
        }
        .facebook:hover .icon {
            fill: rgb(65, 93, 152);
        }
        .gplus:hover .icon {
            fill: rgb(219, 68, 55);
        }
        .post-qrcode {
            display: none;
            position: absolute;
            bottom: 30px;
            right: 80px;
            background: $white;
            padding: 5px;
            border: 1px solid $lightgray;
            border-radius: 5px;
            box-shadow: 1px 1px 2px rgb(150, 150, 150);
        }
        .post-qrcode-input {
            display: none;
        }
        .post-qrcode-input:checked{
            + .post-qrcode{
                display: block;
            }
            ~ .wechat .icon {
                fill: rgb(81, 195, 50);
            }
        }
    }
}


// 标签页
.post-tags-list {
    .tag-1,
    .tag-2,
    .tag-3 {
        color: rgb(150, 150, 150);
    }
    .tag-4,
    .tag-5,
    .tag-6 {
        color: rgb(100, 100, 100);
    }
    .tag-7,
    .tag-8,
    .tag-9 {
        color: rgb(50, 50, 50);
    }
    .tag-10,
    .tag-11,
    .tag-12 {
        color: rgb(25, 25, 25);
    }
    .tag-13,
    .tag-14,
    .tag-15,
    .tag-16,
    .tag-17,
    .tag-18,
    .tag-33 {
        color: $black;
    }
    display: none;
}

.post-tags-table{
    display: none;
    &:target {
        display: table;
    }
}
