---
layout : page
permalink: /tags.html
title : 标签云
---

<ul class="post-tags-list" id="tags">
    {% for tag in site.tags %}
    {% assign count = tag | last | size %}
    {% if count  > 2 %}
    {% assign fontsize = tag | last | size | times: 100 | divided_by: 30 %}
    {% if fontsize < 12 %}
        <li clsss="post-tags-item"><a class="tag tag-{{ tag | last | size }}" href="?tag={{ tag | first }}" style="font-size: 12px">{{ tag | first }}</a></li>
    {% elsif fontsize > 28 %}
        <li clsss="post-tags-item"><a class="tag tag-{{ tag | last | size }}" href="?tag={{ tag | first }}" style="font-size: 24px">{{ tag | first }}</a></li>
    {% else %}
        <li clsss="post-tags-item"><a class="tag tag-{{ tag | last | size }}" href="?tag={{ tag | first }}" style="font-size: {{ fontsize }}px">{{ tag | first }}</a></li>
    {% endif %}
    {% endif %}
    {% endfor %}
</ul>
<table class="post-tags-table">
    <thead>
        <tr>
            <th colspan=2>以下是标签为“<span class="post-tags-text"></span>”的所有文章</th>
        </tr>
        <tr>
            <th>日期</th>
            <th>文章</th>
        </tr>
    </thead>
    <tbody class="post-tags-tbody">
    </tbody>
</table>
